<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="/_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="/_assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--== Header Area Start ==-->
<% include ./template/nav-header %>
<!--== Header Area End ==-->

<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="/_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Page Title Area Start ==-->
<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <h1>Blog</h1>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="blog.html" class="active">Mẹo Mua bán an toàn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <div class="row">
            <!-- Blog Page Content Start -->
            <div class="col-lg-12">
                <div class="blog-content-wrap">
                    <!-- Single Blog Item Start -->
                    <div class="single-blog-wrap">
                        <figure class="blog-thumb">
                            <a href="single-blog.html"><img src="/_assets/img/blog-thumb.jpg" alt="blog"
                                                            class="img-fluid"/></a>
                            <figcaption class="blog-icon">
                                <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                            </figcaption>
                        </figure>

                        <div class="blog-details">
                            <h3><a href="single-blog.html">Mẹo Mua Bán An Toàn </a></h3>
                            <span class="post-date">20/Tháng 3/2019</span>
                            <p > 
                            <div class="row">
					<li class="col-xs-12 col-sm-4">
				<a href="#meo-mua">
												<img src="//trogiup.chotot.com/wp-content/uploads/sites/2/meo-mua.png" class="attachment-post-thumbnail wp-post-image" alt="meo-mua" />										<div class="thumb-hover" style="background-image:url(http://trogiup.chotot.com/wp-content/uploads/sites/2/meo-mua-hover.png)"></div>
				</a>
			</li>
					<li class="col-xs-12 col-sm-4">
				<a href="#meo-ban">
												<img src="//trogiup.chotot.com/wp-content/uploads/sites/2/meo-ban.png" class="attachment-post-thumbnail wp-post-image" alt="meo-ban" />										<div class="thumb-hover" style="background-image:url(http://trogiup.chotot.com/wp-content/uploads/sites/2/meo-ban-hover.png)"></div>
				</a>
			</li>
					<li class="col-xs-12 col-sm-4">
				<a href="#meo-tim-viec">
												<img src="//trogiup.chotot.com/wp-content/uploads/sites/2/meo-tim-viec.png" class="attachment-post-thumbnail wp-post-image" alt="meo-tim-viec" />										<div class="thumb-hover" style="background-image:url(http://trogiup.chotot.com/wp-content/uploads/sites/2/meo-tim-viec-hover.png)"></div>
				</a>
			</li>
		
			</div>
                                   <!-- section -->
		<section class="posts-content"style="text-align:left">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
																										<ul class="nav nav-tabs">
	
</ul>
<br><br><br><br><br>
<div class="tab-contents">
			<div id="meo-mua" class="tab-content">
			<div class="title underline">
				<h2>Mẹo cho người MUA</h2>
			</div>
			<div class="content">
				<p><h3>Nguyên tắc &#8220;vàng&#8221;:</h3>
<ul>
<li><strong>Không nên chuyển tiền trước khi nhận hàng</strong>, đặc biệt đối với những hàng hoá đắt tiền như: đồ điện tử, xe cộ, thú cưng.</li>
<li><strong>Gặp nhau trực tiếp để mua bán. Kiểm tra kỹ hàng mới trả tiền.</strong></li>
<li><strong>Luôn đi cùng 1 người bạn.</strong></li>
<li>Giao dịch trực tiếp ở nơi quen thuộc như địa điểm gần nhà, công ty hoặc các trung tâm bảo hành có thể kiểm tra được sản phẩm.</li>
<li>Thận trọng đối với sản phẩm hàng hiệu, đắt tiền nhưng có giá thấp đáng ngờ.</li>
<li>Yêu cầu giấy tờ để chứng minh sở hữu mặt hàng hoặc giấy tờ cho việc giao dịch giữa bạn và người bán, đặc biệt các mặt hàng có giá trị cao.<strong> </strong></li>
<li>Kiểm tra kỹ các giấy tờ sản phẩm khi giao dịch, đặc biệt đối với những mặt hàng như:
<ul>
<li>Xe máy: Cà-vẹt xe, bảo hiểm xe (nếu có), biên lai mua xe, giấy bảo hành xe cũng như giấy tờ tùy thân của người giao dịch với bạn: Chứng minh nhân dân, bằng lái xe.</li>
<li>Nhà đất: Giấy tờ pháp lý (Giấy chứng nhận quyền sử dụng đất, quyền sở hữu nhà ở và tài sản).</li>
</ul>
</li>
<li>Bảo quản tài sản cá nhân của bạn cẩn thận khi tham gia giao dịch.</li>
<li>Đối với một số sản phẩm đặc thù (gia cầm sống, động vật sống, sản phẩm chính hãng, thực phẩm, …), người mua cần yêu cầu người bán cung cấp các giấy tờ chứng minh nguồn gốc, chất lượng sản phẩm hoặc các giấy tờ khác theo quy định của Nhà nước nhằm đảm bảo quyền lợi và sức khỏe của bản thân.</li>
</ul>
<h3>Những trường hợp gian lận cần cảnh giác</h3>
<ul>
<li><strong>Người mua đã thanh toán (chuyển khoản qua ngân hàng, chuyển qua bưu điện) nhưng không nhận được hàng do người bán không giao hàng.</strong></li>
<li>Tráo điện thoại, máy tính bảng, đồ điện tử khác: Người bán mua hàng sản phẩm chính hãng và khi kiểm tra hàng thì là chính hãng, nhưng sau khi người mua trả tiền, người bán nhanh tay tráo bằng hàng giả.</li>
</ul>
<p>Khi bạn gặp phải bất kì trường hợp gian lận nào, vui lòng liên hệ với bộ phận Chăm sóc Khách hàng thông qua </a> email <a href="nguyenvantuyenx2bk@gmail.com">nguyenvantuyenx2bk@gmail.com</a> để được trợ giúp ngay lập tức.</p>

</p>
			</div>
		</div>
			<div id="meo-ban" class="tab-content">
			<div class="title underline">
				<h2>Mẹo cho người BÁN</h2>
			</div>
			<div class="content">
				<p><h3>Nguyên tắc &#8220;vàng&#8221;:</h3>
<ul>
<li><strong>Gặp nhau trực tiếp để mua bán.</strong></li>
<li><strong>Luôn đi cùng 1 người bạn.</strong></li>
<li>Để tránh trường hợp phát sinh mâu thuẫn sau khi bán, nên trao đổi chi tiết các điều khoản khi giao dịch và yêu cầu người mua kiểm tra hàng hóa cẩn thận trong quá trình giao dịch.</li>
<li>Nên thận trọng đối với những giao dịch quốc tế hoặc yêu cầu chuyển hàng/chuyển tiền ra nước ngoài.</li>
<li>Rao Vặt Sinh Viên <strong>KHÔNG NHẬN</strong> ký gửi, bán hàng cho người dùng.</li>
<li>Thận trọng nếu có ai liên hệ với bạn để thu phí dưới danh nghĩa Rao Vặt Sinh Viên. Hãy liên lạc ngay với chúng tôi để được hỗ trợ kịp thời.</li>
<li>Bảo quản hàng hoá và tài sản cá nhân của bạn cẩn thận khi tham gia giao dịch.</li>
<li>Không giao hàng hóa khi chưa có gì đảm bảo như giấy tờ tùy thân hoặc tiền đặt cọc.</li>
</ul>
<h3>Những trường hợp gian lận cần cảnh giác</h3>
<ul>
<li>Người mua làm giả giấy chuyển khoản, khiến người bán giao hàng nhưng không nhận được tiền.</li>
<li>Người mua phương tiện di chuyển (xe đạp, xe máy, &#8230;) xin được dùng thử và không trả lại cho người bán sau khi dùng.</li>
</ul>
<p>Khi bạn gặp phải bất kì trường hợp gian lận nào, vui lòng liên hệ với bộ phận Chăm sóc Khách hàng thông qua mail email <a href="mailto:nguyenvantuyenx2bk1@gmail.com">nguyenvantuyenx2bk1@gmail.com</a> để được trợ giúp ngay lập tức.</p>
</p>
			</div>
		</div>
			<div id="meo-tim-viec" class="tab-content">
			<div class="title underline">
				<h2>Mẹo cho người TÌM VIỆC</h2>
			</div>
			<div class="content">
				<p><h3>Nguyên tắc &#8220;vàng&#8221;:</h3>
<ul>
<li>Tìm hiểu kỹ về công việc và công ty đăng tuyển. Đặc biệt, thận trọng đối với các tin tuyển dụng lương cao mà không yêu cầu kinh nghiệm, bằng cấp hoặc những công việc có mức lương/ thưởng cao hơn nhiều so với thị trường.</li>
<li>Tuy không phải nhà tuyển dụng nào yêu cầu đặt cọc tiền cũng là lừa đảo nhưng nên hạn chế đặt cọc tiền khi xin việc. Nếu bạn chấp nhận đặt cọc tiền, hãy yêu cầu biên nhận của công ty. Việc yêu cầu đặt cọc tiền mà không cấp giấy biên nhận là bất hợp pháp.</li>
<li>Cân nhắc kỹ lưỡng các điều khoản trong hợp đồng lao động. Nếu bạn thấy điều khoản trong hợp đồng lao động không hợp lý, hãy xin thêm thời gian để suy nghĩ trước khi ký.</li>
</ul>
<p>Khi bạn gặp phải bất kì trường hợp gian lận nào, vui lòng liên hệ với bộ phận Chăm sóc Khách hàng thông qua </a> email <a href="mailto:nguyenvantuyenx2bk1@gmail.com">nguyenvantuyenx2bk1@gmail.com</a> để được trợ giúp ngay lập tức.</p>
</p>
			</div>
		</div>
	
	</div>							
																								</div>
				</div>
			</div>
		</section>
		<!-- /section -->




                            </p>
                           
                        </div>
                    </div>
                    <!-- Single Blog Item End -->

            
            </div>
            <!-- Blog Page Content End -->

           
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->

<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="/_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="/_assets/js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="/_assets/js/active.js"></script>
</body>

</html>