<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="/_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="/_assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--== Header Area Start ==-->
<% include ./template/nav-header%>
<!--== Header Area End ==-->

<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="/_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Page Title Area Start ==-->
<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <h1>Blog</h1>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="blog.html" class="active">Blog-Quy Định Tại Rao vặt Sinh Viên</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <div class="row">
            <!-- Blog Page Content Start -->
            <div class="col-lg-12">
                <div class="blog-content-wrap">
                    <!-- Single Blog Item Start -->
                    <div class="single-blog-wrap">
                        <figure class="blog-thumb">
                            <a href="single-blog.html"><img src="/_assets/img/blog-thumb.jpg" alt="blog"
                                                            class="img-fluid"/></a>
                            <figcaption class="blog-icon">
                                <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                            </figcaption>
                        </figure>

                        <div class="blog-details">
                            <h3><a href="single-blog.html">Quy định Đăng Bài tại Rao Vặt Sinh Viên</a></h3>
                            <span class="post-date">20/Tháng 3/2019</span>
                            <p style="text-align:left"> 
                                 <!-- article -->
                    <article style="text-align:left">
                        <p><div id="toc_extra" style="height:45px">&nbsp;</div><div id="toc_container" class="no_bullets"><p class="toc_title">Mục lục</p><ul class="toc_list"><li><a href="#a-doi-tuong-dang-tin">A. Đối tượng đăng tin</a></li><li><a href="#b-quy-dinh-co-ban-ve-tin-dang">B. Quy định cơ bản về tin đăng</a><ul><li><a href="#1-thong-tin-lien-lac">1. Thông tin liên lạc</a></li><li><a href="#2-tieu-de-tin-dang">2. Tiêu đề tin đăng</a></li><li><a href="#3-hinh-anh-trong-tin-dang">3. Hình ảnh trong tin đăng</a></li><li><a href="#4-noi-dung-tin-dang">4. Nội dung tin đăng</a></li><li><a href="#5-gia">5. Giá</a></li><li><a href="#6-ngon-ngu">6. Ngôn ngữ</a></li></ul></li><li><a href="#c-cac-ly-do-tin-bi-tu-choi">C. Các lý do tin bị từ chối  </a><ul><li><a href="#1-tin-dang-trung-lap">1. Tin đăng Trùng lặp</a></li><li><a href="#2-tin-rao-trung-lap-voi-tin-da-an">2. Tin rao trùng lặp với tin đã ẩn</a></li><li><a href="#3-su-dung-hinh-tai-tu-tren-mang">3. Sử dụng hình tải từ trên mạng</a></li><li><a href="#4-dang-thieu-hinh-san-pham-hoac-chinh-sua-hinh-anh-qua-nhieu">4. Đăng thiếu hình sản phẩm; hoặc chỉnh sửa hình ảnh quá nhiều</a></li><li><a href="#5-thieu-thong-tin-chi-tiet-khi-mieu-ta-san-pham">5. Thiếu thông tin chi tiết khi miêu tả sản phẩm</a></li><li><a href="#6-tin-dang-bang-tieng-viet-khong-co-dau">6. Tin đăng bằng tiếng Việt không có dấu</a></li><li><a href="#7-tin-dang-co-thong-tin-khong-thong-nhatkhong-hop-ly">7. Tin đăng có thông tin không thống nhất/không hợp lý</a></li><li><a href="#8-vuot-qua-so-tin-quang-cao-cho-phep-trong-cung-1-chuyen-muc">8. Vượt quá số tin quảng cáo cho phép trong cùng 1 chuyên mục</a></li><li><a href="#9-tin-dang-co-ten-website-tren-hinho-thong-tin-lien-lacnoi-dung">9. Tin đăng có tên website trên hình/ô thông tin liên lạc/nội dung</a></li><li><a href="#10-tin-dang-co-so-dien-thoaidia-chi-email-trong-o-ten-hoac-trong-noi-dung-tin">10. Tin đăng có số điện thoại/địa chỉ email trong ô tên hoặc trong nội dung tin</a></li><li><a href="#11-hinh-anh-trung-lap">11. Hình ảnh trùng lặp</a></li><li><a href="#12-tin-dang-quang-cao-don-thuan-quang-cao-tiep-thi">12. Tin đăng quảng cáo đơn thuần (quảng cáo tiếp thị)</a></li><li><a href="#13-tin-dang-co-nhieu-mat-hangdich-vuvi-tri-tuyen-dung">13. Tin đăng có nhiều mặt hàng/dịch vụ/vị trí tuyển dụng</a></li><li><a href="#14-tin-dang-co-gia-ngoai-te">14. Tin đăng có giá ngoại tệ</a></li><li><a href="#15-sai-chuyen-muc-hoac-khu-vuc-dang-tin">15. Sai chuyên mục hoặc khu vực đăng tin</a></li><li><a href="#16-san-phamdich-vu-cam">16. Sản phẩm/Dịch vụ cấm</a></li><li><a href="#17-du-an-chua-duoc-cap-nhat">17. Dự án chưa được cập nhật</a></li><li><a href="#18-tin-dang-can-xac-minh-thong-tin">18. Tin đăng cần xác minh thông tin</a></li></ul></li></ul></div>
Bằng việc đăng tin trên Rao Vặt Sinh Viên, bạn đồng ý cho phép Rao Vặt Sinh Viên sử dụng nội dung và hình ảnh tin đăng của bạn vì mục đích thương mại và phi thương mại; đồng thời, bạn đồng ý miễn trừ cho Rao Vặt Sinh Viên các nghĩa vụ liên quan.</p>
<h3><span id="a-doi-tuong-dang-tin"><strong>A. Đối tượng đăng tin</strong></span></h3>
<p>Tin đăng<strong> Cá nhân: </strong>Dành cho đối tượng là các cá nhân có quyền hợp pháp tham gia vào các thoả thuận/hợp đồng mua bán ở Việt Nam và bán hàng không vì mục đích kinh doanh.</p>
<p>Tin đăng<strong> Bán chuyên/Môi giới:</strong> Dành cho đối tượng là những cá nhân/tập thể bán hàng với mục đích kinh doanh, bao gồm các cửa hàng, doanh nghiệp, shop, và các hộ gia đình hoặc cá nhân kinh doanh nhỏ.</p>
<p><strong>Rao Vặt Sinh Viên </strong>có quyền quyết định một tin đăng có phải là tin đăng <strong>Bán chuyên/Môi giới </strong>hay tin đăng <strong>Cá nhân</strong>.</p>
<h3><span id="b-quy-dinh-co-ban-ve-tin-dang"><strong>B. Quy định cơ bản về tin đăng</strong></span></h3>
<h4><span id="1-thong-tin-lien-lac"><strong>1. Thông tin liên lạc</strong></span></h4>
<ul>
<li><strong>Tên: </strong>Điền đầy đủ họ tên thật của người bán.</li>
<li><strong>Email: </strong>Hãy cung cấp địa chỉ email thật. Chúng tôi liên lạc với bạn chủ yếu qua email. Email của bạn sẽ được Rao Vặt Sinh Viên bảo mật.</li>
<li><strong>Số điện thoại: </strong>Để đảm bảo an toàn mua bán, bạn cần xác nhận sở hữu của số điện thoại dùng để đăng tin.</li>
<li><strong>Địa chỉ: </strong>Hãy cung cấp địa chỉ giao dịch chính xác bao gồm: tên đường, quận/huyện, thành phố nơi bạn đang sống.</li>
</ul>
<h4><span id="2-tieu-de-tin-dang"><strong>2. Tiêu đề tin đăng</strong></span></h4>
<ul>
<li>Tiêu đề cần thể hiện chi tiết chính của mặt hàng hoặc dịch vụ được quảng cáo, bao gồm các thông tin như:
<ul>
<li>Tên sản phẩm, model, tình trạng …. (Ví dụ: Iphone 5S 16gb còn bảo hành &#8230;)</li>
<li>Loại nhà đất, tên đường, số phòng ngủ… (đối với bất động sản). Ví dụ: Nhà 3 lầu 6 phòng ngủ đường Nguyễn Trãi …)</li>
</ul>
</li>
<li>Trên tiêu đề tin, không sử dụng các thông tin/ từ ngữ sau:
<ul>
<li>Các từ khoá : <em>cần mua/ mua, cần bán/ bán, tuyển/tìm, thanh lý, </em>…</li>
<li>Giá, website, tên hoặc thông tin liên lạc của người bán.</li>
<li>Các từ ngữ miêu tả nhằm thu hút sự chú ý của người mua như: <em>siêu rẻ, siêu hot, rất đẹp, đẹp, khuyến mãi</em>, <em>gấp, giảm giá</em> hoặc các từ ngữ không được phép theo luật quảng cáo như : <em>nhất, tốt nhất, rẻ nhất, số 1, hàng đầu</em> hoặc từ ngữ có ý nghĩa tương tự.</li>
</ul>
</li>
</ul>
<h4><span id="3-hinh-anh-trong-tin-dang"><strong>3. Hình ảnh trong tin đăng</strong></span></h4>
<p>Hình ảnh trong tin đăng phải là hình chụp từ mặt hàng, dịch vụ bạn đăng bán, và phải thể hiện rõ &amp; chân thực mặt hàng dịch vụ đó.</p>
<p><strong>Hình ảnh không được phép đăng trên </strong><strong>Rao Vặt Sinh Viên</strong> <strong>bao gồm:</strong></p>
<ul>
<li>Hình tải từ Internet hoặc tải từ Rao Vặt Sinh Viên.</li>
<li>Hình đã bị chỉnh sửa quá nhiều hoặc bị tẩy xóa, không cho thấy được tình trạng thật của sản phẩm.</li>
<li>Hình có chứa đường link liên kết, chữ, số điện thoại, tên cửa hàng/công ty.</li>
<li>Hình mờ, nghiêng, không đúng chiều, hình được ghép từ nhiều hình khác, có các ký tự hoặc ký hiệu lạ nhằm thu hút sự chú ý của người xem.</li>
<li>Hình có logo công ty, ngoại trừ trong các chuyên mục “Dịch Vụ”, “Việc Làm” và hoạt động mua bán thương hiệu trong chuyên mục “Cơ sở thương mại”.</li>
<li>Hình người mẫu mặc đồ lót, đồ bơi.</li>
<li>Hình bị lỗi không hiển thị.</li>
</ul>
<h4><span id="4-noi-dung-tin-dang"><strong>4. Nội dung tin đăng</strong></span></h4>
<p>Nội dung tin đăng cần có đầy đủ thông tin để người mua có thể quyết định mua hàng. Cụ thể như sau:</p>
<ul>
<li><em>Bất động sản</em>: Miêu tả chi tiết vị trí, số phòng, diện tích, tên dự án, căn hộ, tên đường, tình trạng sở hữu, …</li>
<li><em>Xe cộ</em>: Miêu tả tên xe, hãng xe, xuất xứ, màu sắc, tình trạng sử dụng, số km đã đi, năm đăng kí, hộp số, loại nhiên liệu, giấy tờ xe, &#8230;</li>
<li><em>Các sản phẩm khác</em>: Tên sản phẩm, hãng, xuất xứ, màu sắc, chất liệu, tình trạng sử dụng, phụ kiện đi kèm, giá tiền, tình trạng bảo hành, &#8230;</li>
</ul>
<p>Số điện thoại, các đường dẫn kết nối đến trang khác, email có chứa tên miền website khác không được phép miêu tả ở nội dung.</p>
<p>Nếu có nhiều hơn một sản phẩm/dịch vụ, vui lòng đăng tin riêng biệt cho từng sản phẩm/dịch vụ.</p>
<p>Rao Vặt Sinh Viên chỉ đăng những tin mua bán 1 sản phẩm hoặc dịch vụ cụ thể. Tin rao chỉ nhằm mục đích quảng cáo về công ty sẽ không được đăng. Các tin rao không nhằm mục đích mua bán không được đăng.</p>
<p>Các tin đăng có nội dung, hình ảnh mang tính xúc phạm liên quan đến tôn giáo, các nhóm sắc tộc, cá nhân hoặc người nổi tiếng bị cấm.</p>
<p>Theo điều 8 mục 11 của Luật Quảng cáo, không được sử dụng các từ ngữ <em>“nhất”, “duy nhất”, “tốt nhất”, “số một”</em> hoặc từ ngữ có ý nghĩa tương tự trong nội dung tin đăng (nếu sử dụng phải có tài liệu chứng minh).</p>
<h4><span id="5-gia"><strong>5. Giá</strong></span></h4>
<p><strong>Rao Vặt Sinh Viên</strong> có quyền từ chối các sản phẩm có giá bán không hợp lý. Giá bán phải được niêm yết bằng giá Việt Nam Đồng. Các tin đăng giá ngoại tệ đều không được đăng.</p>
<p><span style="font-weight: 400;">Nếu sản phẩm/dịch vụ của bạn là sản phẩm chính hãng nhưng rao bán với giá thấp hơn sản phẩm/dịch vụ tương tự trên thị trường, </span><span style="font-weight: 400;">vui lòng sửa lại tin theo hướng dẫn sau:</span></p>
<p><span style="font-weight: 400;">1. Thêm hình để chứng thực sản phẩm hàng chính hãng.</span><span style="font-weight: 400;"><br />
</span><span style="font-weight: 400;">2. Hoặc miêu tả chi tiết hơn về tình trạng sản phẩm:</span></p>
<ul>
<li><span style="font-weight: 400;">Thời gian sử dụng</span></li>
<li><span style="font-weight: 400;">Tình trạng sản phẩm</span></li>
<li><span style="font-weight: 400;">Giá tiền lúc bạn mua</span></li>
<li><span style="font-weight: 400;">Lý do bạn bán rẻ hơn giá thị trường.</span></li>
</ul>
<p>Quy định về giá được đặt ra nhằm bảo đảm an toàn và hiệu quả cho cả người mua và người bán.</p>
<h4><span id="6-ngon-ngu"><strong>6. Ngôn ngữ</strong></span></h4>
<p><strong>Rao Vặt Sinh Viên</strong> chỉ sử dụng hai ngôn ngữ là tiếng Anh và tiếng Việt có dấu.</p>
<p>Các tin viết bằng ngôn ngữ khác, hoặc viết bằng tiếng Việt không dấu, hoặc viết bằng tiếng Việt nhưng nội dung khó hiểu (ký hiệu lạ, phông chữ lạ) cũng không được phép đăng.</p>
<p>Nếu vi phạm các quy định trên, tin đăng của bạn có thể bị từ chối. Bạn nên tham khảo <strong>Các lý do tin bị từ chối</strong> ở mục C bên dưới.</p>
<h3><span id="c-cac-ly-do-tin-bi-tu-choi">C. Các lý do tin bị từ chối<strong>  </strong></span></h3>
<h4><span id="1-tin-dang-trung-lap"><strong>1. Tin đăng Trùng lặp</strong></span></h4>
<p><span style="font-weight: 400;">Rao Vặt Sinh Viên quy định &#8220;Không có tin trùng lặp&#8221; trên trang chủ để giúp người dùng nhanh chóng bán được hàng và người mua tìm kiếm được các sản phẩm dễ dàng.</span></p>
<ul>
<li>Nếu bạn đã đăng 1 mặt hàng trên Rao Vặt Sinh Viên, toàn bộ những tin đăng bán cùng mặt hàng đó của bạn sẽ bị từ chối do trùng lặp (Kể cả trùng lặp với tin đã ẩn, hoặc khi đăng tin trùng lặp sử dụng số điện thoại khác).</li>
<li>Quy định này nhằm loại bỏ các tin rác, giúp người mua tìm mặt hàng ưng ý nhanh hơn và người bán bán hàng nhanh hơn.</li>
<li>Trong trường hợp bạn chưa bán được hàng, hãy Sửa tin cho hấp dẫn hơn. Bạn hãy thêm hình thật của sản phẩm, miêu tả tin chi tiết hơn, hoặc có thể cân nhắc giảm giá. Bạn cũng có thể sử dụng chức năng Đẩy tin để đăng lại tin lên trang đầu.</li>
</ul>
<p><span style="font-weight: 400;">Định nghĩa “trùng lặp” trên Rao Vặt Sinh Viên như sau:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dùng một hoặc nhiều tài khoản khác nhau để rao bán cùng 1 sản phẩm (kể cả đã ẩn tin  rao trước đó và tiến hành đăng lại).</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dùng một hoặc nhiều tài khoản khác nhau để đăng bán các sản phẩm gần giống nhau, có cùng mẫu mã.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dùng một hoặc nhiều tài khoản khác nhau để đăng tin tuyển dụng các công việc có tính chất tương tự nhau.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dùng một hay nhiều tài khoản để rao bán các căn hộ chung cư trong cùng 1 dự án.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dùng một hay nhiều tài khoản để rao bán các mảnh đất khác nhau trên cùng 1 con đường.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Dùng một hay nhiều hình ảnh đã đăng tin trước đó để đăng lại tin mới.</span></li>
</ul>
<p><span style="font-weight: 400;">Một số mẹo đăng tin để tránh tin trùng lặp: </span><span style="font-weight: 400;"><br />
</span></p>
<ol>
<li><b>Không dùng số điện thoại khác hoặc ẩn tin để đăng tin trùng lặp:</b></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tin trùng lặp với tin đã ẩn, hoặc tin đăng trùng lặp sử dụng số điện thoại khác cũng bị từ chối.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nếu bạn có nhiều sản phẩm cùng loại có nhiều tình trạng khác nhau, bạn có thể miêu tả nhiều tình trạng, giá tiền khác nhau của cùng 1 sản phẩm trong 1 tin đăng.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Đối với các công việc có tính chất tương tự nhau, Rao Vặt Sinh Viên chỉ cho phép đăng 1 tin tuyển dụng duy nhất trong cùng 1 thành phố / tỉnh thành. Tuy nhiên, trong 1 tin đăng tuyển dụng cho phép đăng tuyển ở nhiều quận huyện khác nhau của cùng thành phố/tỉnh thành đó.</span></li>
</ul>
<ol start="2">
<li><b>Chỉ đăng 1 tin cho cùng 1 loại sản phẩm</b></li>
</ol>
<p><span style="font-weight: 400;">2.1 </span><b>Bất động sản:</b></p>
<ul>
<li style="font-weight: 400;"><b>Căn hộ/Chung cư</b>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cùng dự án chỉ đăng 1 tin. Để bán các căn hộ chung cư trong cùng 1 dự án: bạn chỉ cần đăng tất cả các căn hộ trong cùng một tin đăng, và liệt kê tất cả các diện tích của các căn hộ còn lại ở cuối tin.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ căn hộ cần bán. Tựa đề không rõ ràng, không phân biệt được với các tin đã đăng sẽ bị từ chối. Tựa đề tốt bao gồm: Tên dự án + diện tích + tiện ích. Ví dụ: Căn hộ River Side 20-50 m2,3 phòng ngủ</span></li>
</ul>
</li>
<li style="font-weight: 400;"><b>Nhà ở</b>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cùng con đường/dự án chỉ đăng 1 tin. Để bán 2 ngôi nhà gần giống nhau (cùng 1 dự án, cùng 1 con đường, nhà liền kề, hình chụp giống, diện tích khác …), hãy đăng và chụp hình 1 ngôi nhà. Ngôi nhà còn lại có thể miêu tả ở cuối tin.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ ngôi nhà cần bán. Tựa đề không rõ ràng, không phân biệt được với các tin đã đăng sẽ bị từ chối. Tựa đề tốt bao gồm: Tên đường + diện tích + tiện ích. Ví dụ: Nhà 58 Phan Chu Trinh, Bình Thạnh, 120 m2, 2 phòng ngủ</span></li>
</ul>
</li>
<li style="font-weight: 400;"><b>Đất</b>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cùng con đường/dự án chỉ đăng 1 tin. Để bán đất cùng một con đường, cùng dự án: hãy đăng và chụp hình 1 mảnh đất và liệt kê diện tích, mô tả các đặc điểm còn lại của các mảnh đất khác ở cuối tin.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ mảnh đất cần bán. Tựa đề không rõ ràng, không phân biệt được với các tin đã đăng sẽ bị từ chối. Tiêu đề tốt bao gồm: tên dự án + tên đường + diện tích. Ví dụ: Lô 2C đường An Phú Tây,B.Chánh,sổ hồng riêng,118m2</span></li>
</ul>
</li>
<li style="font-weight: 400;"><b>Văn phòng, mặt bằng kinh doanh</b>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cùng dự án chỉ đăng 1 tin. Để bán 2 mặt bằng/văn phòng trong cùng 1 dự án, hãy đăng và chụp hình 1 mặt bằng/văn phòng. Bạn có thể quảng cáo mặt bằng/văn phòng còn lại ở cuối miêu tả tin.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ mặt bằng/văn phòng cần bán. Tựa đề không rõ ràng, không phân biệt được với các tin đã đăng sẽ bị từ chối. Tựa đề tốt bao gồm: tên mặt bằng/văn phòng + tên đường + diện tích. Ví dụ: Văn phòng F-Home Lý Thường Kiệt, 62m2, 3 lầu</span></li>
</ul>
</li>
<li style="font-weight: 400;"><b>Phòng cho thuê</b>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cùng 1 ngôi nhà/căn hộ chỉ đăng 1 tin. Để cho thuê 2 phòng gần giống nhau (cùng 1 ngôi nhà, chung cư, hình chụp giống , diện tích khác…), hãy đăng và chụp hình 1 căn phòng. Phòng còn lại có thể miêu tả ở cuối tin.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ phòng cần cho thuê. Tựa đề không rõ ràng, không phân biệt được với các tin đã đăng sẽ bị từ chối. Tựa đề tốt bao gồm: Tên đường + diện tích + tiện ích. Ví dụ: Phòng trọ mới xây, 12m2 Nguyễn văn linh &#8211; Qlộ 50</span></li>
</ul>
</li>
</ul>
<p><span style="font-weight: 400;">2.2 </span><b>Xe cộ</b><span style="font-weight: 400;">:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Mỗi mẫu mã (model) xe chỉ đăng 1 tin.</span><span style="font-weight: 400;"><br />
</span><span style="font-weight: 400;">Để bán 2 xe cộ có hình thức giống nhau (cùng model, cùng màu, khác năm đăng ký, số km đã đi…), hãy đăng và chụp hình 1 xe. Xe còn lại có thể miêu tả ở cuối tin.</span><span style="font-weight: 400;"><br />
</span><span style="font-weight: 400;">Trường hợp đặc biệt</span><span style="font-weight: 400;">: để đăng bán 2 xe khác nhau cùng 1 model ở  2 tin, vui lòng chụp hình biển số của mỗi xe để phân biệt.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ ô tô cần bán. Tựa đề không rõ ràng, không phân biệt được với các tin đã đăng sẽ bị từ chối. Tựa đề tốt bao gồm: model xe + màu sắc + tình trạng. Ví dụ: Toyota Camry 2.5Q đen đã sử dụng 6 tháng</span><span style="font-weight: 400;"><br />
</span></li>
</ul>
<p><span style="font-weight: 400;">2.3 </span><b>Đồ điện tử</b><span style="font-weight: 400;">:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Mỗi mẫu mã (model) điện tử (Điện thoại/Máy tính/Laptop/&#8230;) chỉ đăng 1 tin. </span><span style="font-weight: 400;"><br />
</span><span style="font-weight: 400;">Để bán 2 đồ điện tử cùng model, hãy đăng và chụp hình 1 mặt hàng. Mặt hàng còn lại có thể miêu tả ở cuối tin.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ điện thoại cần bán. Tựa đề  không phân biệt được với các tin đã đăng sẽ bị từ chối. Tựa đề tốt thường có: Model điện thoại + màu sắc + tình trạng. Ví dụ: IPhone 5 16gb Trắng Quốc Tế đã dùng 6 tháng”</span></li>
</ul>
<p><span style="font-weight: 400;">2.4 </span><b>Việc làm</b></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Các công việc có tính chất giống nhau chỉ đăng 1 tin. Để đăng các công việc gần giống nhau (cùng tính chất công việc, khác quận huyện&#8230;), hãy miêu tả chi tiết 1 việc làm. Các vị trí còn lại có thể miêu tả ở cuối tin.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ việc làm cần tuyển. Tựa đề không rõ ràng, không phân biệt được với các tin đã đăng sẽ bị từ chối.</span><span style="font-weight: 400;"><br />
</span></li>
</ul>
<p><span style="font-weight: 400;">2.5</span><b> Các chuyên mục còn lại:</b></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Mỗi mẫu mã chỉ đăng 1 tin. Để bán 2 mặt hàng gần giống nhau (mẫu mã giống, hình chụp giống, chỉ khác màu, kích cỡ…), hãy đăng trong cùng 1 tin. Bạn có thể quảng cáo về mặt hàng còn lại ở cuối miêu tả tin.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tựa đề tin cần thể hiện rõ mặt hàng cần bán. Tựa đề của tin mới phải phân biệt được với các tin đã và đang bán.</span></li>
</ul>
<ol start="3">
<li><b>Sử dụng hình ảnh thật của sản phẩm:</b></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nên tự chụp hình sản phẩm và không dùng lại hình ảnh của sản phẩm này đăng cho sản phẩm khác.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Mỗi tin đăng chỉ cần trùng một hình ảnh với tin đăng khác thì sẽ được xem là tin đăng trùng lặp.</span></li>
</ul>
<p><span style="font-weight: 400;">Lưu ý</span><span style="font-weight: 400;">: Tin đăng bị từ chối trùng lặp sẽ không sửa lại được.</span></p>
<h4><span id="2-tin-rao-trung-lap-voi-tin-da-an"><strong>2. Tin rao trùng lặp với tin đã ẩn</strong></span></h4>
<ul>
<li>Sử dụng chức năng hiển tin đã ẩn trong mục <strong>Quản lý tin đăng</strong> thay vì đăng lại tin mới trong trường hợp bạn muốn bán lại món hàng đã ẩn trước đó.</li>
</ul>
<h4><span id="3-su-dung-hinh-tai-tu-tren-mang"><strong>3. Sử dụng hình tải từ trên mạng</strong></span></h4>
<ul>
<li>Tin đăng sử dụng hình tải từ trên mạng sẽ bị từ chối.</li>
<li>Rao Vặt Sinh Viên yêu cầu người bán tự chụp hình mặt hàng khi đăng tin. Việc đăng hình thật thu hút các khách hàng thực sự yêu thích sản phẩm, giúp bạn bán hàng nhanh hơn.</li>
</ul>
<h4><span id="4-dang-thieu-hinh-san-pham-hoac-chinh-sua-hinh-anh-qua-nhieu"><strong>4. Đăng thiếu hình sản phẩm; hoặc chỉnh sửa hình ảnh quá nhiều</strong></span></h4>
<ul>
<li>Khách hàng muốn xem nhiều hình trước khi quyết định mua hàng, do đó hãy đăng ít nhất 5-6 hình thật của sản phẩm.
<ul>
<li>Đối với chuyên mục <em>Ô tô</em>: Yêu cầu ít nhất 5 hình thật khác nhau.</li>
<li>Đối với chuyên mục <em>Xe máy, Máy tính, Điện thoại, Máy tính bảng:</em> Yêu cầu ít nhất 3 hình thật khác nhau.</li>
<li>Các chuyên mục còn lại yêu cầu ít nhất 1 hình.</li>
</ul>
</li>
<li>Hình đạt yêu cầu là hình rõ, đẹp, <strong>chụp từ sản phẩm bạn đang bán</strong>.</li>
<li>Các hình chỉnh sửa quá nhiều, dễ gây hiểu nhầm cho người mua về tình trạng thật của sản phẩm sẽ bị từ chối.</li>
<li>Không thêm chữ, địa chỉ website, logo, số điện thoại trên hình.</li>
<li>Không sử dụng hình mờ, nghiêng, không đúng chiều, hình được ghép từ nhiều hình khác nhau</li>
</ul>
<h4><span id="5-thieu-thong-tin-chi-tiet-khi-mieu-ta-san-pham"><strong>5. Thiếu thông tin chi tiết khi miêu tả sản phẩm</strong></span></h4>
<p>Nếu tin đăng của bạn có quá ít thông tin, người mua sẽ không liên lạc với bạn để mua hàng. Đó là lý do tại sao Rao Vặt Sinh Viên chỉ cho đăng tin có miêu tả đầy đủ sản phẩm.</p>
<p>Một số thông tin người mua muốn biết khi mua hàng như sau:</p>
<ul>
<li>Xuất xứ, hãng sản xuất, model, đặc biệt đối với <em>Đồ điện tử, Xe cộ</em>.</li>
<li>Kích cỡ, chất liệu, đối với <em>Quần áo, Thời trang.</em></li>
<li>Diện tích, địa chỉ, tình trạng sở hữu, đối với <em>Bất động sản</em>.</li>
<li>Bạn đã sử dụng mặt hàng được bao lâu &amp; tình trạng hiện tại của mặt hàng (còn xài tốt không, ngoại hình có trầy xước không, có hư hỏng gì không).</li>
<li>Lý do tại sao bạn bán mặt hàng đó.</li>
<li>Mặt hàng còn bảo hành và có phụ kiện đi kèm không.</li>
</ul>
<p>Trong trường hợp tin bị từ chối, vui lòng tham khảo sửa lại tin theo hướng dẫn sau:</p>
<ol>
<li><strong>Xe Cộ:</strong></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cần cung cấp một số đặc điểm nhận diện xe: Tên xe, thương hiệu xe, xuất xứ (xe Việt hay xe nhập từ nước nào), loại xe (xe số hay xe tay ga, xe số tay hay số tự động,..)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Miêu tả thêm về các đặc điểm đã sử dụng: Năm đăng ký, số km đã đi, nhiên liệu sử dụng cho xe, xe chính chủ không, &#8230;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Các thông tin khác: Giá bán (đồng ý thương lượng không), tình trạng hiện tại của xe (xe còn zin hay có thay thế gì chưa, có hỏng hóc ở đâu không …), lý do bán xe, &#8230;</span></li>
</ul>
<ol start="2">
<li><span style="font-weight: 400;"><strong>Bất Động Sản</strong>: Cần miêu tả rõ địa chỉ (Tên Đường, Ấp- Thôn, Xã, Quận-Huyện, Tỉnh &#8211; TP), diện tích (diện tích đất và diện tích sử dụng), giá bán (có đồng ý thương lượng giá không, tiếp môi giới không), lí do cần bán/cho thuê Bất động sản trên. Ngoài ra, cần cung cấp thêm 1 một số thông tin tùy vào loại hình Bất động sản. Cụ thể là:</span></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Căn hộ chung cư: cần có thêm tên căn hộ, Các tiện ích xung quanh (có gần trường học/ chợ / bệnh viện / siêu thị, ..),</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Nhà đất: miêu tả thêm loại hình xây dưng nhà (nhà trệt, nhà cấp 4, ..),số lượng phòng (bao nhiêu phòng ngủ, phòng khách, bếp, &#8230;), loại hình đất gì (đất dự án, đất thổ cư, đất nông nghiệp,&#8230;) và các đặc điểm nổi bật khác (thuận tiện đi lại không, gần đường lớn không, có bao gồm nội thất gì trong nhà không, …)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Văn phòng, mặt bằng kinh doanh/ Phòng trọ: Cần nêu rõ hình thức cho thuê (ngắn hạn, dài hạn, …) và các đặc điểm nổi bật khác (gần khu trung tâm không, bao gồm nội thất, cơ sở vật chất gì không?, …)</span></li>
</ul>
<ol start="3">
<li><span style="font-weight: 400;"><strong>Đồ Điện Tử và Đồ Gia Dụng</strong>:</span></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cần cung cấp một số đặc điểm nhận diện sản phẩm: Tên máy, thương hiệu, model, xuất xứ (mua tại đâu, hàng Việt Nam hay hàng nhập, nếu nhập thì từ nước nào?)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Miêu tả thêm về các đặc điểm đã sử dụng: Sử dụng được bao lâu, máy có zin hay thay thế gì không, có hư hỏng, trầy xước gì không, sản phẩm còn bảo hành không, có phụ kiện gì kèm theo không, &#8230;.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Các thông tin khác: Giá bán (đồng ý thương lượng không?), lý do bán sản phẩm, có cam kết gì sau bán không (chế độ bảo hành, đổi trả,..), &#8230;</span></li>
</ul>
<ol start="4">
<li><span style="font-weight: 400;"><strong>Đồ Dùng Cá Nhân</strong> (Quần áo, đồng hồ, đồ trang sức, giày, dép,..):</span></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Quần áo / Giày dép: cần miêu tả các đặc điểm giúp nhận diện sản phẩm: Nhãn hiệu, xuất xứ (hàng Việt Nam, hàng VNXK, hay hàng xách tay&#8230; ), size (thích hợp với người có cân nặng như thế nào),  chất liệu (cotton, vải &#8230; ), tình trạng hình thức như thế nào, đã dùng lâu chưa? (còn mới hay đã sử dụng,&#8230;), giá bán và lý do bán, &#8230;</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Đồng hồ / Đồ trang sức: Cần cung cấp hiệu và mã sản phẩm, xuất xứ (mua ở đâu, hàng Việt, xách tay, hay nhập, sản  xuất tại nước nào?), giá khi mua khoảng bao nhiêu, tình trạng bảo hành (còn bảo hành không), có trầy xước, sửa chưa gì không? Giá bán và lí do bán, &#8230;Lưu ý: đối với các sản phẩm trang sức như vòng lắc bạc cần mô tả khối lượng sản phẩm (Ví dụ: dây chuyền bạc 2 chỉ).</span></li>
</ul>
<ol start="5">
<li><span style="font-weight: 400;"><strong>Vật nuôi, Thú cưng</strong>:</span></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cần cung cấp một số đặc điểm nhận diện vật nuôi: Tên vật nuôi (dòng nào), chủng loại (thuần chủng hay lai), giới tính (con cái hay con đực), thời gian nuôi (mấy tháng tuổi/ năm tuổi), màu sắc,&#8230;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Các thông tin khác: Cân nặng, tình trạng sức khỏe (có khoẻ mạnh không, đã tiêm phòng những bệnh gì, …), đối với vật nuôi có xuất xứ từ nước ngoài cần liệt kê có giấy tờ kèm theo không (Giấy chứng nhận lý lịch bố mẹ, giấy khám sức khỏe,&#8230;), có bán kèm phụ kiện không (lồng/ chuồng/ đồ ăn&#8230; ), giá bán và lí do bán.</span></li>
</ul>
<ol start="6">
<li><span style="font-weight: 400;"><strong>Việc làm</strong>:</span></li>
</ol>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tin tuyển dụng: Cần miêu tả chi tiết về vị trí tuyển dụng (tuyển dụng vị trí nào: kế toán, giao hàng, thủ kho,&#8230;), các yêu cầu đối với người lao động đối với vị trí tuyển dụng (cần có kỹ năng gì, bằng cấp như thế nào, …), các quyền lợi và nghĩa vụ của người lao động (mức lương như thế nào, chế độ làm việc, thỏa thuận lao động giữa hai bên ra sao,&#8230;). Đồng thời, cần có thông tin của công ty tuyển dụng (Tên công ty, địa chỉ công ty, hình thức và mặt hàng kinh doanh, ,,,)</span></li>
</ul>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tin tìm việc: Cần miêu tả chi tiết công việc bạn muốn (Muốn tìm việc gì: kế toán, bán hàng, …) và các kinh nghiệm/bằng cấp của bạn (Có kinh nghiệm gì không, đã có bằng cấp gì?).</span><span style="font-weight: 400;"><br />
</span></li>
</ul>
<ol start="7">
<li><span style="font-weight: 400;"><strong>Các mặt hàng khác</strong>: cần có tên sản phẩm cần bán, thương hiệu, giá tiền, kích cỡ, xuất xứ, công dụng, lí do bán,&#8230; Nếu bạn chỉ nêu báo giá hoặc liệt kê các mặt hàng mà không miêu tả, tin sẽ không được đăng.</span></li>
</ol>
<h4><span id="6-tin-dang-bang-tieng-viet-khong-co-dau"><strong>6. Tin đăng bằng tiếng Việt không có dấu</strong></span></h4>
<ul>
<li>Tất cả tin đăng trên <strong>Rao Vặt Sinh Viên</strong> đều là tiếng Anh hoặc tiếng Việt có đấu.</li>
<li>Tin đăng bằng tiếng Việt không dấu có thể khiến người mua không hiểu được nội dung bạn viết, hoặc hiểu nhầm ý của bạn.</li>
</ul>
<h4><span id="7-tin-dang-co-thong-tin-khong-thong-nhatkhong-hop-ly"><strong>7. Tin đăng có thông tin không thống nhất/không hợp lý</strong></span></h4>
<ul>
<li>Đối với một tin đăng quảng cáo yêu cầu <strong>thông tin phải thống nhất với nhau</strong>, nội dung và tiêu đề phải quảng cáo chung 1 sản phẩm.</li>
<li>Hàng hoá/Dịch vụ đã bán hết hoặc hết hạn sử dụng tại thời điểm rao bán hoặc sản phẩm không tồn tại sẽ không được đăng.</li>
<li>Sản phẩm có giá bán chưa hợp lý (có giá quá rẻ so với giá trên thị trường).</li>
</ul>
<h4><span id="8-vuot-qua-so-tin-quang-cao-cho-phep-trong-cung-1-chuyen-muc"><strong>8. Vượt quá số tin quảng cáo cho phép trong cùng 1 chuyên mục</strong></span></h4>
<p>Theo quy định hiện nay của Rao Vặt Sinh Viên, mỗi chuyên mục được đăng tối đa 10 tin khác nhau đối với người dùng <strong>Cá nhân</strong> hoặc 30 tin khác nhau đối với người dùng <strong>Bán chuyên/Môi giới</strong>. Riêng chuyên mục xe máy, ô tô được đăng tin không giới hạn trong cùng chuyên mục.</p>
<p>Đối với các mặt hàng giá trị cao (<em>Xe cộ, Đồ điện tử, Bất động sản</em>), <strong>Cá nhân</strong> được đăng nhiều nhất 3 tin.</p>
<h4><span id="9-tin-dang-co-ten-website-tren-hinho-thong-tin-lien-lacnoi-dung"><strong>9. Tin đăng có tên website trên hình/ô thông tin liên lạc/nội dung</strong></span></h4>
<p>Tại <strong>Rao Vặt Sinh Viên</strong> không cho phép đăng bất kỳ đường dẫn liên kết (link website) nào xuất hiện trong tin đăng, trên hình ảnh, nội dung hoặc thông tin liên lạc.</p>
<h4><span id="10-tin-dang-co-so-dien-thoaidia-chi-email-trong-o-ten-hoac-trong-noi-dung-tin"><strong>10. Tin đăng có số điện thoại/địa chỉ email trong ô tên hoặc trong nội dung tin</strong></span></h4>
<p>Thông tin Số điện thoại và địa chỉ email đã được điền ở phần thông tin liên lạc. Do đó, bạn không cần điền các thông tin này ở nội dung tin/ô tên liên lạc.</p>
<h4><span id="11-hinh-anh-trung-lap"><strong>11. Hình ảnh trùng lặp</strong></span></h4>
<p>Các hình trùng lặp với những tin đang đăng, hoặc đã ẩn trên Rao Vặt Sinh Viên đều bị từ chối. Bạn có thể tham khảo thêm quy định về <strong>Hình ảnh</strong> ở mục <strong>Quy định cơ bản.</strong></p>
<h4><span id="12-tin-dang-quang-cao-don-thuan-quang-cao-tiep-thi"><strong>12. Tin đăng quảng cáo đơn thuần (quảng cáo tiếp thị)</strong></span></h4>
<p>Các tin không bán sản phẩm, dịch vụ cụ thể mà chỉ quảng cáo về công ty đều bị từ chối.</p>
<p><span style="font-weight: 400;">Thông tin chi tiết và cụ thể về sản phẩm sẽ giúp bạn bán hàng được nhanh hơn. Do đó để đăng lại tin, vui lòng làm theo hướng dẫn sau:</span></p>
<ul>
<li><span style="font-weight: 400;">Miêu tả chi tiết mặt hàng/ dịch vụ bạn muốn quảng cáo: nhãn hiệu, kích cỡ, giá tiền, chất liêu, công dụng &#8230; của sản phẩm cần bán.  </span></li>
<li><span style="font-weight: 400;">Không liệt kê nhiều mặt hàng/ từ khóa tìm kiếm khác nhau trong nội dung.</span></li>
<li><span style="font-weight: 400;">Các tin chỉ quảng cáo về công ty &amp; mặt hàng 1 cách chung chung (tin quảng bá đơn thuần), hoặc chỉ nêu báo giá/ liệt kê các mặt hàng mà không miêu tả, sẽ không được đăng.</span></li>
</ul>
<p>Bạn có thể tham khảo thêm quy định về <strong>Nội dung tin đăng</strong> ở mục <strong>Quy định cơ bản của tin đăng</strong>.</p>
<h4><span id="13-tin-dang-co-nhieu-mat-hangdich-vuvi-tri-tuyen-dung"><strong>13. Tin đăng có nhiều mặt hàng/dịch vụ/vị trí tuyển dụng</strong></span></h4>
<p>Để người mua tìm thấy thông tin của bạn 1 cách dễ dàng nhất, <strong>Rao Vặt Sinh Viên </strong>quy định:</p>
<ul>
<li>Mỗi tin rao vặt chỉ được đăng 1 mặt hàng/dịch vụ cần cung cấp.</li>
<li>Nếu bạn là <strong>Bán chuyên/Môi giới</strong> &amp; đăng bán 1 mặt hàng có nhiều màu khác nhau, vui lòng chỉ chụp 1 màu sản phẩm trong 1 hình.</li>
<li>Đối với <em>Xe cộ, </em>xe có màu khác nhau cần đăng trong các tin khác nhau.</li>
<li>Đối với <em>Bất động sản,</em> mỗi tin chỉ được đăng bán 1 căn nhà/chung cư hoặc 1 dự án.</li>
<li>Đối với <em>Tuyển dụng,</em> nội dung cần có miêu tả công việc, giới thiệu công ty, yêu cầu về kỹ năng, hồ sơ xin việc và chỉ tuyển 1 vị trí.</li>
</ul>
<h4><span id="14-tin-dang-co-gia-ngoai-te"><strong>14. Tin đăng có giá ngoại tệ</strong></span></h4>
<p>Theo Pháp lệnh Ngoại hối của Nhà nước, mọi tin đăng có giá ngoại tệ đều bị từ chối.</p>
<h4><span id="15-sai-chuyen-muc-hoac-khu-vuc-dang-tin"><strong>15. Sai chuyên mục hoặc khu vực đăng tin</strong></span></h4>
<p>Để giúp người mua tìm sản phẩm của bạn dễ dàng hơn<strong>, </strong>hãy chọn đúng chuyên mục của sản phẩm và đúng khu vực bạn sinh sống.</p>
<p><span style="font-weight: 400;">Bạn có thể tham khảo các chuyên mục hiện tại của Rao Vặt Sinh Viên để chọn đúng chuyên mục khi đăng tin:</span></p>
<table style="border-color: #000000; height: 1494px;" border="1">
<tbody>
<tr style="height: 36px;">
<td style="height: 36px; width: 117px; text-align: center;"><strong>CHUY&Ecirc;N MỤC LỚN</strong></td>
<td style="height: 36px; width: 132px; text-align: center;"><strong>CHUY&Ecirc;N MỤC CON</strong></td>
<td style="height: 36px; width: 644px; text-align: center;"><strong>ĐỊNH NGHĨA</strong></td>
</tr>
<tr style="height: 18px;">
<td style="height: 180px; width: 117px; text-align: center;" rowspan="7"><strong>Xe cộ</strong></td>
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">&Ocirc; t&ocirc;</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c loại xe &ocirc; t&ocirc; từ 9 chỗ trở xuống. V&iacute; dụ: Xe ford transit 9 chỗ</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Xe m&aacute;y</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c loại xe m&aacute;y (xe tay ga, xe số) sử dụng xăng l&agrave; nhi&ecirc;n liệu.</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Xe tải, Xe ben</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c loại xe tải, xe ben. V&iacute; dụ: Xe tải chở h&agrave;ng (Hyundai, JAC, Isuzu, Veam, Kia, &#8230;)</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Xe điện</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c loại xe m&aacute;y, xe đạp sử dụng điện l&agrave; nhi&ecirc;n liệu.</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Xe đạp</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c loại xe đạp d&ugrave;ng b&agrave;n đạp điều khiển. V&iacute; dụ: xe đạp leo n&uacute;i, xe đạp giant, &#8230; (Kh&ocirc;ng bao gồm xe đạp tập đi cho trẻ em)</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Phương tiện kh&aacute;c</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c loại xe &ocirc; t&ocirc; từ 16 chỗ l&ecirc;n như c&aacute;c loại xe kh&aacute;ch hoặc xe chuy&ecirc;n dụng. V&iacute; dụ: Xe ford transit 16 chỗ, Xe đầu k&eacute;o, Xe x&uacute;c, Xe bồn, Xe c&ocirc;ng n&ocirc;ng, &#8230;</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Phụ t&ugrave;ng xe</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n tất cả c&aacute;c loại phụ t&ugrave;ng cho mọi loại xe.</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 144px; width: 117px; text-align: center;" rowspan="5"><strong>Bất động sản</strong></td>
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Căn hộ/Chung cư</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n, cho thu&ecirc; căn hộ chung cư đ&atilde; ho&agrave;n thiện, c&oacute; thể dọn v&agrave;o ở.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Nh&agrave; ở</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n, cho thu&ecirc; cho thu&ecirc; nh&agrave;.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Đất</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n, cho thu&ecirc; cho thu&ecirc; đất: đất thổ cư, đất n&ocirc;ng nghiệp, &#8230;</span></td>
</tr>
<tr style="height: 54px;">
<td style="height: 54px; width: 132px; text-align: center;"><span style="font-weight: 400;">Văn ph&ograve;ng, Mặt bằng kinh doanh</span></td>
<td style="height: 54px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n, cho thu&ecirc; văn ph&ograve;ng, mặt bằng kinh doanh hoặc sang nhượng cửa h&agrave;ng (bao gồm mặt bằng văn ph&ograve;ng v&agrave; cơ sở vật chất đ&atilde; đầu tư)</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Ph&ograve;ng trọ</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n, cho thu&ecirc; cho thu&ecirc; ph&ograve;ng trọ.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 288px; width: 117px; text-align: center;" rowspan="9"><strong>Đồ điện tử</strong></td>
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Điện thoại</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n điện thoại di động, điện thoại cố định c&aacute;c loại.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">M&aacute;y t&iacute;nh bảng</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n m&aacute;y t&iacute;nh bảng c&aacute;c loại.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Laptop</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n m&aacute;y t&iacute;nh x&aacute;ch tay c&aacute;c loại.</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">M&aacute;y t&iacute;nh để b&agrave;n</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n m&aacute;y t&iacute;nh cố định c&aacute;c loại,</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">M&aacute;y ảnh, M&aacute;y quay</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n m&aacute;y ảnh, m&aacute;y quay phim c&aacute;c loại.</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Tivi, &Acirc;m thanh</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n Tivi v&agrave; thiết bị &acirc;m thanh c&aacute;c loại.&nbsp;V&iacute; dụ: Tivi, Loa, Tai nghe, Ampli, D&agrave;n &acirc;m thanh, Micro, &#8230;&nbsp;</span></td>
</tr>
<tr style="height: 54px;">
<td style="height: 54px; width: 132px; text-align: center;"><span style="font-weight: 400;">Phụ kiện (M&agrave;n h&igrave;nh, Chuột&#8230;)</span></td>
<td style="height: 54px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n phụ kiện điện tử c&aacute;c loại. V&iacute; dụ: M&agrave;n h&igrave;nh m&aacute;y t&iacute;nh b&agrave;n, Chuột m&aacute;y t&iacute;nh, B&agrave;n ph&iacute;m, Bao da/Ốp lưng, D&acirc;y c&aacute;p sạc, Pin sạc dự ph&ograve;ng, Thẻ nhớ, Ổ cứng di động, &#8230;&nbsp;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Linh kiện (RAM, Card&#8230;)</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n linh kiện điện tử c&aacute;c loại. V&iacute; dụ: Ram m&aacute;y t&iacute;nh, Bo mạch chủ &#8211; Mainboard, M&agrave;n h&igrave;nh điện thoại, Ổ cứng m&aacute;y t&iacute;nh, &#8230;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;">Thiết bị đeo th&ocirc;ng minh</td>
<td style="height: 36px; width: 644px; text-align: left;">Gồm c&aacute;c tin đăng mua b&aacute;n thiết bị đeo th&ocirc;ng minh c&aacute;c loại. V&iacute; dụ: Đồng hồ/V&ograve;ng tay th&ocirc;ng minh (Apple watch, Xiaomi Mi Band, &#8230;), K&iacute;nh thực tế ảo (Samsung Gear, VR Box, &#8230;)</td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 117px; text-align: center;"><strong>Mẹ v&agrave; b&eacute;</strong></td>
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Mẹ và bé</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c sản phẩm li&ecirc;n quan đến mẹ v&agrave; b&eacute;. V&iacute; dụ: đầm bầu, xe tập đi, quần &aacute;o cho trẻ em, ..</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 126px; width: 117px; text-align: center;" rowspan="6"><strong>Thời trang, Đồ d&ugrave;ng c&aacute; nh&acirc;n</strong></td>
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Quần &aacute;o</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n v&aacute;y đầm, quần &aacute;o &#8230; nam nữ c&aacute;c loại.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Đồng hồ</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n đồng hồ đeo tay thời trang nam nữ c&aacute;c loại.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Gi&agrave;y d&eacute;p</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n gi&agrave;y d&eacute;p nam nữ c&aacute;c loại.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">T&uacute;i x&aacute;ch</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n t&uacute;i x&aacute;ch nam nữ c&aacute;c loại,</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Nước hoa</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n nước hoa c&aacute;c loại,</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Phụ kiện thời trang kh&aacute;c</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c phụ kiện thời trang kh&aacute;c: nhẫn, v&ograve;ng tay, thắt lưng, mắt k&iacute;nh, &#8230;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 126px; width: 117px; text-align: center;" rowspan="3"><strong>Nội ngoại thất, Đồ gia dụng</strong></td>
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Tủ lạnh, M&aacute;y lạnh, M&aacute;y giặt</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n tủ lạnh, m&aacute;y lạnh, m&aacute;y giặt c&aacute;c loại.</span></td>
</tr>
<tr style="height: 54px;">
<td style="height: 54px; width: 132px; text-align: center;"><span style="font-weight: 400;">Nội ngoại thất, C&acirc;y cảnh</span></td>
<td style="height: 54px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n sản phẩm để trang tr&iacute; nội thất v&agrave; ngoại thất trong gia đ&igrave;nh. V&iacute; dụ: Giường, tủ, r&egrave;m cửa, b&agrave;n ghế, &#8230; V&agrave; c&aacute;c loại c&acirc;y cảnh được trồng trong gia đ&igrave;nh.</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Đồ gia dụng gia đ&igrave;nh kh&aacute;c</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n sản phẩm gia dụng kh&aacute;c: Nồi cơm điện, m&aacute;y xay, bếp ga, quạt m&aacute;y d&ugrave;ng trong gia đ&igrave;nh, &#8230;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 216px; width: 117px; text-align: center;" rowspan="6"><strong>Giải tr&iacute;, Thể thao, Sở th&iacute;ch</strong></td>
<td style="height: 36px; width: 132px; text-align: center;">Nhạc cụ</td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c sản phẩm li&ecirc;n quan đến &acirc;m nhạc. V&iacute; dụ: Đ&agrave;n organ/piano, trống, s&aacute;o, &#8230;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">S&aacute;ch</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c sản phẩm li&ecirc;n quan đến s&aacute;ch, b&aacute;o, truyện, tạp ch&iacute;, v&agrave; c&aacute;c sản phẩm li&ecirc;n quan.</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Đồ thể thao, D&atilde; ngoại</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c sản phẩm li&ecirc;n quan đến thể thao d&atilde; ngoại. V&iacute; dụ: Tạ tập thể dục, m&aacute;y chạy bộ, lều cắm trại, &#8230;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Đồ sưu tầm, đồ cổ</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c sản phẩm li&ecirc;n quan đến đồ cổ, sưu tầm. V&iacute; dụ: Đồng hồ cổ, bật lửa, tranh ảnh,&nbsp;thạch/đ&aacute; qu&yacute;, gốm sứ, &#8230;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Thiết bị chơi game</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c sản phẩm li&ecirc;n quan đến game, điện tử. V&iacute; dụ: M&aacute;y chơi điện tử cầm tay, PS3, PS4, Playstation, đĩa game chơi điện tử, tay cầm chơi game, &#8230;&nbsp;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;">Sở th&iacute;ch kh&aacute;c</td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c sản phẩm li&ecirc;n quan đến giải tr&iacute;, sở th&iacute;ch kh&aacute;c. V&iacute; dụ: Phim, nhạc (đĩa), v&eacute;, hoa, đồ lưu niệm, đồ handmade, dụng cụ ảo thuật, b&agrave;i uno, b&agrave;i poker, cờ c&aacute; ngựa, cờ tỉ ph&uacute;, &#8230;.&nbsp;</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 108px; width: 117px; text-align: center;" rowspan="4"><strong>Th&uacute; cưng</strong></td>
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">G&agrave;</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n g&agrave; c&aacute;c loại.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Ch&oacute;</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n ch&oacute; c&aacute;c loại.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Chim</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n chim c&aacute;c loại.</span></td>
</tr>
<tr style="height: 54px;">
<td style="height: 54px; width: 132px; text-align: center;"><span style="font-weight: 400;">Th&uacute; cưng kh&aacute;c, Phụ kiện</span></td>
<td style="height: 54px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c loại vật nu&ocirc;i kh&aacute;c (kh&ocirc;ng bao gồm 3 loại tr&ecirc;n) v&agrave; c&aacute;c loại phụ kiện d&ugrave;ng cho vật nu&ocirc;i. V&iacute; dụ: C&aacute; cảnh, hồ c&aacute;, lồng chim, &#8230;</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 90px; width: 117px; text-align: center;" rowspan="2"><strong>Đồ d&ugrave;ng văn ph&ograve;ng, c&ocirc;ng n&ocirc;ng nghiệp</strong></td>
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Đồ d&ugrave;ng văn ph&ograve;ng</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n loại sản phẩm, m&aacute;y m&oacute;c d&ugrave;ng trong văn ph&ograve;ng. V&iacute; dụ: m&aacute;y chiếu, m&aacute;y photo, m&aacute;y in, b&agrave;n ghế văn ph&ograve;ng, &#8230;</span></td>
</tr>
<tr style="height: 54px;">
<td style="height: 54px; width: 132px; text-align: center;"><span style="font-weight: 400;">Đồ chuy&ecirc;n dụng, Giống nu&ocirc;i trồng</span></td>
<td style="height: 54px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n loại sản phẩm chuy&ecirc;n dụng cho từng ng&agrave;nh nghề. V&iacute; dụ: m&aacute;y pha c&agrave; ph&ecirc; chuy&ecirc;n dụng, b&agrave;n ghế d&ugrave;ng trong qu&aacute;n c&agrave; ph&ecirc;, m&aacute;y khoan, m&aacute;y b&agrave;o,&#8230;</span><span style="font-weight: 400;">V&agrave; c&aacute;c loại giống d&ugrave;ng để nu&ocirc;i trồng. V&iacute; dụ: t&ocirc;m giống, c&acirc;y giống, &#8230;</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 36px; width: 117px; text-align: center;" rowspan="2"><strong>Việc l&agrave;m,&nbsp;</strong></td>
<td style="height: 18px; width: 132px; text-align: center;"><span style="font-weight: 400;">Việc t&igrave;m&nbsp;người</span></td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng tuyển dụng.</span></td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 132px; text-align: center;">Người&nbsp;t&igrave;m&nbsp;việc</td>
<td style="height: 18px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm&nbsp;c&aacute;c tin đăng t&igrave;m việc l&agrave;m.</span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 72px; width: 117px; text-align: center;" rowspan="2"><strong>Dịch vụ, Du&nbsp;lịch</strong><br />
<strong><br />
</strong></td>
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Dịch vụ </span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng cung cấp, cho thu&ecirc; hoặc cần t&igrave;m dịch vụ. V&iacute; dụ: Cho thu&ecirc; xe du lịch, cung cấp dịch vụ sửa chữa nh&agrave;, &#8230; </span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">Du lịch </span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua b&aacute;n c&aacute;c sản phẩm li&ecirc;n quan đến du lịch: tour du lịch, v&eacute; t&agrave;u, v&eacute; xe, v&eacute; m&aacute;y bay, &#8230; </span></td>
</tr>
<tr style="height: 36px;">
<td style="height: 36px; width: 117px; text-align: center;"><strong>C&aacute;c loại kh&aacute;c</strong></td>
<td style="height: 36px; width: 132px; text-align: center;"><span style="font-weight: 400;">C&aacute;c loại kh&aacute;c</span></td>
<td style="height: 36px; width: 644px; text-align: left;"><span style="font-weight: 400;">Gồm c&aacute;c tin đăng mua c&aacute;c sản phẩm kh&aacute;c với c&aacute;c chuy&ecirc;n mục đ&atilde; liệt k&ecirc; b&ecirc;n tr&ecirc;n. V&iacute; dụ: đồ ăn, thức uống, &#8230;</span></td>
</tr>
</tbody>
</table>
<h4><span id="16-san-phamdich-vu-cam"><b>16. Sản phẩm/Dịch vụ cấm</b></span></h4>
<p><span style="font-weight: 400;">Các tin đăng mua bán sản phẩm, cung cấp dịch vụ trên Rao Vặt Sinh Viên cần tuân theo các luật lệ và quy định có hiệu lực của pháp luật Việt Nam và quy định của Rao Vặt Sinh Viên đối với từng ngành nghề cụ thể. </span></p>
<p><span style="font-weight: 400;">Vui lòng tham khảo chi tiết các sản phẩm/dịch vụ bị cấm tại <a href="/blog/hangcam">đây</a> </span></p>
<h4><span id="17-du-an-chua-duoc-cap-nhat"><b>17. Dự án chưa được cập nhật</b></span></h4>
<p><span style="font-weight: 400;">Khi tin đăng của bạn bị từ chối do dự án chưa được cập nhật, hãy giúp Rao Vặt Sinh Viên cập nhật dự án bằng cách gửi email về nguyenvantuyenx2bk@gmail.com và cung cấp cho chúng tôi các thông tin:</span></p>
<p><span style="font-weight: 400;">&#8211; Tên dự án</span><span style="font-weight: 400;"><br />
</span><span style="font-weight: 400;">&#8211; Địa chỉ </span><span style="font-weight: 400;"><br />
</span><span style="font-weight: 400;">&#8211; Tên chủ đầu tư</span><span style="font-weight: 400;"><br />
</span><span style="font-weight: 400;">&#8211; Ngày khởi công &#8211; Ngày hoàn thành</span><span style="font-weight: 400;"><br />
</span><span style="font-weight: 400;">&#8211; Đường link giới thiệu dự án từ chủ đầu tư</span><span style="font-weight: 400;"><br />
</span><br />
<span style="font-weight: 400;">Chúng tôi sẽ cập nhật trong thời gian sớm nhất. </span><span style="font-weight: 400;"><br />
</span></p>
<p><span style="font-weight: 400;">Do số lượng dự án ở chuyên mục Bất Động sản có thể thay đổi liên tục, nên không tránh khỏi vấn đề chưa kịp cập nhật. Vì thế, Rao Vặt Sinh Viên rất mong nhận được phản hồi của người dùng, góp phần xây dựng Rao Vặt Sinh Viên ngày một hiệu quả hơn.</span></p>
<h4><span id="18-tin-dang-can-xac-minh-thong-tin"><b>18. Tin đăng cần xác minh thông tin</b></span></h4>
<p>Chợ Tốt có quy trình xác minh thông tin tin đăng nhằm bảo vệ quyền lợi của người bán và người mua, việc xác minh thông tin sẽ giúp tin đăng của bạn được bảo vệ bởi Rao Vặt Sinh Viên và đáng tin cậy hơn.</p>
<p>Để hoàn tất quá trình xác minh vui lòng cung cấp đầy đủ các thông tin sau về địa chỉ email nguyenvantuyenx2bk@gmail.com:<br />
&#8211; Hình chụp Chứng Minh Nhân Dân (2 mặt) của bạn.<br />
&#8211; Hình chụp giấy tờ tùy thân khác có ảnh (2 mặt).<br />
&#8211; Hình chụp có thể thấy bạn cùng với cửa hàng cùng các sản phẩm bạn đã đăng trên Rao Vặt Sinh Viên.<br />
&#8211; Các số điện thoại bạn dùng để đăng tin.<br />
&#8211; Địa chỉ nhà hoặc địa chỉ cửa hàng.<br />
&#8211; Số tài khoản ngân hàng bạn dùng để giao dịch (nếu có).</p>
<p>Rao vặt Sinh Viên chỉ sử dụng thông tin này để xác thực và sẽ không dùng cho bất kỳ mục đích nào khác.</p>
                        
                    </article>

                            </p>
                           
                        </div>
                    </div>
                    <!-- Single Blog Item End -->

            
            </div>
            <!-- Blog Page Content End -->

           
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->

<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="/_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="/_assets/js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="/_assets/js/active.js"></script>
</body>

</html>