<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="/_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="/_assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--== Header Area Start ==-->
<% include ./template/nav-header %>
<!--== Header Area End ==-->

<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="/_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Page Title Area Start ==-->
<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <h1>Blog</h1>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="blog.html" class="active">mẹo mua bán</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <div class="row">
            <!-- Blog Page Content Start -->
            <div class="col-lg-12">
                <div class="blog-content-wrap">
                    <!-- Single Blog Item Start -->
                    <div class="single-blog-wrap">
                        <figure class="blog-thumb">
                            <a href="single-blog.html"><img src="/_assets/img/blog-thumb.jpg" alt="blog"
                                                            class="img-fluid"/></a>
                            <figcaption class="blog-icon">
                                <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                            </figcaption>
                        </figure>

                        <div class="blog-details">
                            <h3><a href="single-blog.html">Mẹo Mua Bán An Toàn </a></h3>
                            <span class="post-date">20/Tháng 3/2019</span>
                            <p style="text-align:left"> 
                                    <!-- article -->
                    <article style="text-align:left">
                        <p>Rao Vặt Sinh Viên không can thiệp vào quá trình thương lượng và giao dịch giữa người mua và người bán với mong muốn tạo điều kiện thuận lợi nhất cho việc mua bán giữa đôi bên.</p>
<p>Bên cạnh đó, sự an toàn của người dùng luôn là trăn trở và ưu tiên hàng đầu của chúng tôi (tìm hiểu thêm <a href="/blog/muabanantoan">Rao Vặt Sinh Viên làm thế nào để bảo vệ người dùng?</a>). Một số mẹo dưới đây có thể giúp bạn mua sắm an toàn hơn trên Rao Vặt Sinh Viên:</p>
<p><img class="aligncenter wp-image-4153 size-full" src="//trogiup.chotot.com/wp-content/uploads/sites/2/Email-Infographic_v1.png" alt="Email (Infographic)_v1" width="799" height="1331" /></p>
<p>Bạn cũng có thể xem chi tiết thêm các Mẹo mua sắm này ở bên dưới:</p>
<h4><strong><a class="wpsal-anchor" name="1" id="1"></a>1. Kiểm tra thông tin về sản phẩm</strong></h4>
<ul>
<li><strong>Tham khảo ý kiến của bạn bè, người thân, người có kinh nghiệm mua bán trực tuyến</strong> về sản phẩm bạn có ý định muốn mua trên Rao Vặt Sinh Viên.</li>
<li>Kiểm tra chi tiết thông tin sản phẩm được rao bán (được mô tả trong nội dung tin đăng) hoặc hỏi trực tiếp thông tin sản phẩm từ người bán (trong trường hợp nội dung tin đăng không đề cập). Bạn có thể tham khảo các câu hỏi sau để xác định mức độ minh bạch về thông tin sản phẩm:
<ul>
<li>Tiêu đề có trùng khớp với nội dung, hình ảnh sản phẩm không?</li>
<li>Hình ảnh (nếu có) có góc chụp rõ ràng, chi tiết không?</li>
<li>Chi tiết về tình trạng sản phẩm: đã sử dụng bao lâu, có đầy đủ phụ kiện (nếu có), có hư hỏng gì hay không, …</li>
<li>Giá cả người bán đưa ra có hợp lý so với tình trạng sản phẩm không?</li>
<li>Với sản phẩm có giá trị lớn, có hóa đơn chứng từ đầy đủ không?</li>
</ul>
</li>
<li>Thận trọng với những sản phẩm có <strong>giá bán rẻ hơn nhiều so với giá thị trường</strong>.</li>
<li>Đối với một số sản phẩm đặc thù (gia cầm sống, động vật sống, sản phẩm chính hãng, thực phẩm, &#8230;), người mua cần yêu cầu người bán cung cấp các giấy tờ chứng minh nguồn gốc, chất lượng sản phẩm hoặc các giấy tờ khác theo quy định của Nhà nước nhằm đảm bảo quyền lợi và sức khỏe của bản thân.</li>
</ul>
<h4><strong>2. Tìm hiểu kỹ các điều khoản, quy định và chính sách bán hàng</strong></h4>
<ul>
<li>Tìm hiểu kỹ các điều khoản liên quan tới việc bảo vệ thông tin cá nhân của khách hàng và các điều khoản giao dịch như:
<ul>
<li>Phương thức thanh toán: trả từng phần hay trả một phần, trước hay sau khi nhận sản phẩm, trả bằng hình thức nào.</li>
<li>Giao hàng: thời gian, chi phí vận chuyển.</li>
<li>Chính sách đổi trả hàng.</li>
<li>Điều kiện hoàn tiền.</li>
<li>Bảo hành và các dịch vụ sau bán hàng (nếu có).</li>
</ul>
</li>
</ul>
<h4><strong>3. Lựa chọn phương thức thanh toán an toàn</strong></h4>
<ul>
<li>Nên <strong>giao dịch trực tiếp</strong> và luôn <strong>đi từ 2 người trở lên</strong>. Đặc biệt đi cùng với người có hiểu biết về sản phẩm cần mua để hỗ trợ kiểm tra sản phẩm.</li>
<li>Với những giao dịch lần đầu hoặc giao dịch có giá trị lớn, <strong>hạn chế chuyển tiền cho người bán trước khi nhận hàng</strong>.</li>
<li>Chọn những hình thức thanh toán an toàn như <strong>dịch vụ COD</strong> (nhận được hàng sau đó mới thanh toán tiền). Khi nhận hàng qua hình thức COD, cần kiểm tra kỹ chất lượng sản phẩm sau đó mới trả tiền.</li>
<li>Thận trọng với các hình thức chuyển tiền trước khi nhận hàng (chuyển khoản, nạp thẻ điện thoại, …). Trong trường hợp chuyển tiền trước, cần kiểm tra kỹ độ uy tín của người bán và tham khảo ý kiến từ bạn bè và người thân.</li>
</ul>
<h4><strong>4. Lưu giữ thông tin giao dịch đầy đủ</strong></h4>
<ul>
<li>Lưu giữ hóa đơn, mã số đơn hàng, số hiệu giao hàng và các chứng từ trong quá trình giao dịch trực tuyến (trong trường hợp người bán là cửa hàng) hoặc các thông tin xác nhận mua bán giao dịch như giấy tờ chuyển khoản, … (trong trường hợp bạn đã xác minh độ tin cậy của người bán). Những thông tin này có thể được sử dụng làm bằng chứng để giải quyết các tranh chấp (nếu có) trong giao dịch.</li>
</ul>
<h3><strong>Những trường hợp gian lận cần cảnh giác</strong></h3>
<ul>
<li><strong>Chuyển tiền nhưng không nhận được hàng</strong>: Người mua chuyển tiền trước cho người bán (chuyển khoản, gửi qua bưu điện, &#8230;) nhưng không nhận được hàng do người bán không giao hàng.</li>
<li><strong>Hàng không như mô tả trong tin đăng</strong>: Người mua đã trả tiền và nhận hàng, sau đó kiểm tra lại phát hiện sản phẩm không đạt chất lượng hoặc không giống với mô tả ban đầu của người bán.</li>
</ul>
<h3><strong>Khi phát hiện các tin đăng nghi ngờ gian lận, bạn cần làm gì?</strong></h3>
<p>Vui lòng liên hệ với bộ phận Chăm sóc Khách hàng để được hỗ trợ:</p>
<ul>

<li>Gửi email về <a href="mailto:nguyenvantuyenx2bk@gmail.com">nguyenvantuyenx2bk@gmail.com</a>.</li>
<li>Đường dây nóng: (08)38664041 (Thời gian hỗ trợ từ 08h-12h và 13h-17h từ thứ 2 đến thứ 6 hàng tuần).</li>
</ul>
                        
                    </article>



                            </p>
                           
                        </div>
                    </div>
                    <!-- Single Blog Item End -->

            
            </div>
            <!-- Blog Page Content End -->

           
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->

<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="/_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="/_assets/js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="/_assets/js/active.js"></script>
</body>

</html>