<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="/_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="/_assets/js/vendor/modernizr-2.8.3.min.js"></script>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--== Header Area Start ==-->
<% include ./template/nav-header %>
<!--== Header Area End ==-->

<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="/_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Page Title Area Start ==-->
<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <h1>Blog</h1>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="blog.html" class="active">Blog-Hàng Cấm Đăng tại Rao Vặt Sinh Viên</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <div class="row">
            <!-- Blog Page Content Start -->
            <div class="col-lg-12">
                <div class="blog-content-wrap">
                    <!-- Single Blog Item Start -->
                    <div class="single-blog-wrap">
                        <figure class="blog-thumb">
                            <a href="single-blog.html"><img src="/_assets/img/blog-thumb.jpg" alt="blog"
                                                            class="img-fluid"/></a>
                            <figcaption class="blog-icon">
                                <a href="single-blog.html"><i class="fa fa-file-image-o"></i></a>
                            </figcaption>
                        </figure>

                        <div class="blog-details">
                            <h3><a href="single-blog.html">Quy định Đăng Bài tại Rao Vặt Sinh Viên-Danh Mục Cấm</a></h3>
                            <span class="post-date">20/Tháng 3/2019</span>
                            <p style="text-align:left"> 
                                       <!-- article -->
                    <article style="text-align:left">
                        <h4><!--TOC--></h4>
<h3>Các dịch vụ được cung cấp hay tìm kiếm trên <strong>Rao Vặt Sinh Viên </strong>cần tuân theo các luật lệ và quy định có hiệu lực của pháp luật Việt Nam và quy định của <strong>Rao Vặt Sinh Viên </strong>đối với từng ngành nghề cụ thể.</h3>
<h3><strong>A. Hàng hóa và dịch vụ bị cấm theo pháp luật Việt Nam</strong></h3>
<ul>
<li><strong> Hàng hóa bất hợp pháp: </strong>Các hàng hóa bị cấm buôn bán theo luật pháp Việt Nam, bao gồm:
<ul>
<li>Ma túy.</li>
<li>Hàng hóa có chứa hình ảnh liên quan đến cần sa, hoa anh túc.</li>
<li>Vũ khí và các sản phẩm thuộc lĩnh vực quân sự, an ninh quốc phòng khác, bao gồm nhưng không giới hạn bởi quân trang, quân hiệu, phù hiệu, thiết bị quân sự, cấp hiệu.</li>
<li>Bộ phận cơ thể người.</li>
<li>Thực vật, Động vật nguy cấp, quý hiếm.</li>
<li>Sản phẩm khiêu dâm.</li>
<li>Pháo hoa và chất nổ.</li>
<li>Số xe và giấy tờ xe.</li>
<li>Bình sữa, núm vú bình sữa (Ngoại trừ sản phẩm cho mẹ và bé chưa sử dụng: miếng thấm hút sữa, túi trữ sữa,&#8230; hoặc sản phẩm cho bé: máy hâm sữa, máy vắt sữa …)</li>
</ul>
</li>
<li><strong>Hàng giả, hàng nhập lậu, hàng vi phạm bản quyền: </strong>Tất cả các sản phẩm sau đây khi đăng tin trên <strong>Rao Vặt Sinh Viên </strong>phải được chứng thực là hàng chính hãng:
<ul>
<li>Sản phẩm có thương hiệu.</li>
<li>CD/VCD/DVD.</li>
<li>Chương trình máy vi tính/ máy chơi trò chơi.</li>
</ul>
</li>
</ul>
<h3><strong>B. Hàng hóa và dịch vụ bị cấm theo quy định của Rao Vặt Sinh Viên</strong></h3>
<ul>
<li><strong>Các sản phẩm trong ngành y tế</strong>:
<ul>
<li>Các sản phẩm y tế, bao gồm cả máy móc y tế.</li>
<li>Thuốc và thuốc bổ cho người lớn/ trẻ em và vật nuôi.</li>
<li>Dược phẩm, thảo dược (Ngoại trừ tinh dầu).</li>
<li>Y học cổ truyền Ấn Độ.</li>
<li>Thuốc theo đơn.</li>
</ul>
</li>
<li><strong>Các mặt hàng dễ gây dị ứng, có thể ảnh hưởng đến sức khoẻ của người dùng:</strong>
<ul>
<li>Quần áo lót đã qua sử dụng.</li>
<li>Kính áp tròng, kính cận.</li>
<li>Sữa dùng cho trẻ em dưới 24 tháng tuổi, sản phẩm dinh dưỡng dành cho trẻ dưới 6 tháng tuổi (Ngoại Trừ Sữa chưa sử dụng, dạng lỏng như sữa hộp, sữa tươi).</li>
<li>Bia, cồn, rượu, thuốc lá, các chất kích thích, gây nghiện khác.</li>
<li>Mỹ phẩm dạng uống, tiêm (Ngoại trừ Mỹ Phẩm chưa sử dụng dạng dùng ngoài da, có tác dụng làm sạch, làm thơm, dưỡng, trang điểm).</li>
</ul>
</li>
<li><strong>Các sản phẩm có nội dung người lớn:</strong> Đồ chơi tình dục, sản phẩm khiêu dâm.</li>
<li><strong>Sản phẩm được bảo vệ bởi luật sở hữu trí tuệ:</strong>
<ul>
<li>Bản ghi Radio, bản thu TV và bản thu từ Internet.</li>
<li>Sách điện tử.</li>
<li>Địa chỉ email.</li>
</ul>
</li>
<li><strong>Các tin đăng không nhằm mục đích mua bán hàng hoá, dịch vụ:</strong>
<ul>
<li>Sự kiện hội họp.</li>
<li>Các tài liệu tuyên truyền.</li>
<li>Thư/ Lời chúc mừng/ Thông báo.</li>
</ul>
</li>
<li><strong>Các sản phẩm mê tín:</strong> Bùa hộ mạng hoặc miêu tả mê tín (đuổi tà, đuổi quỷ …) và tất cả các vật thần bí.</li>
<li><strong>Các sản phẩm phục vụ cho mục đích cờ bạc</strong> (bao gồm cả máy đánh bài).</li>
<li><strong>Các sản phẩm thuộc về di tích lịch sử.</strong></li>
<li><strong>Hoá chất:</strong> bao gồm nhưng không giới hạn bởi a-xít, chất hoá học nông nghiệp, chất phóng xạ, sản phẩm hoá học diệt côn trùng.</li>
<li><strong>Các sản phẩm có chứa a-mi-ăng.</strong></li>
<li><strong>Các mặt hàng khác:</strong>
<ul>
<li>Số điện thoại di động và thẻ Sim.</li>
<li>Bình hút shisa, cần sa, hoa anh túc (bao gồm sản phẩm có hình cần sa và hoa anh túc).</li>
<li>Vàng thỏi, vàng miếng (Ngoại trừ Vàng trang sức).</li>
<li>Các sản phẩm liên quan đến &#8220;Bản đồ&#8221; bao gồm sản phẩm bản đồ (bản đồ thế giới, bản đồ địa phương, &#8230;), quả địa cầu, đồ chơi liên quan đến bản đồ, sản phẩm có hình ảnh hoặc miêu tả về bản đồ (đặc biệt là về &#8220;đường lưỡi bò&#8221;).</li>
</ul>
</li>
<li><strong>Mặt hàng đã hết hạn sử dụng tại thời điểm đăng tin.</strong></li>
</ul>
<ul>
<li><strong>Dịch vụ bị cấm theo quy định của Rao Vặt Sinh Viên:</strong>
<ul>
<li>Cho vay và tái cấp vốn.</li>
<li>Dịch vụ liên quan mê tín, yểm bùa.</li>
<li>Dịch vụ mai mối và hẹn hò.</li>
<li>Các phương pháp trị liệu.</li>
<li>Kế hoạch làm giàu nhanh chóng, tiếp thị đơn cấp và tiếp thị đa cấp.</li>
<li>Dịch vụ đi chung xe.</li>
<li>Dịch vụ bẻ khóa, cài các ứng dụng lậu cho các thiết bị.</li>
<li>Bảo hiểm và các chương trình bảo hiểm y tế.</li>
<li>Chăm sóc và giám sát trẻ em.</li>
<li>Dịch vụ nhắn tin SMS.</li>
<li>Làm người mẫu.</li>
<li>Dịch vụ xăm hình.</li>
<li>Dịch vụ làm hoặc bán chứng chỉ/bằng cấp.</li>
<li>Mát-xa và chăm sóc tại Spa (bao gồm cả phiếu Vouchers của các dịch vụ trên).</li>
<li>Dịch vụ thám tử, theo dõi hoặc các dịch vụ khác vi phạm Quyền bí mật đời tư được quy định tại Điều 38 Bộ luật Dân sự 2005.</li>
</ul>
</li>
</ul>
<ul>
<li><strong>Và các mặt hàng/ dịch vụ khác được quy định tại các thời điểm.</strong></li>
</ul>
<p>Rao Vặt Sinh Viên bảo lưu quyền thay đổi, điều chỉnh Quy định này vào bất kỳ lúc nào Rao Vặt Sinh Viên cho là thuận tiện hoặc theo sự thay đổi chính sách luật pháp mà không cần báo trước.</p>
<p>Rao Vặt Sinh Viên cũng sẽ bảo lưu quyền từ chối đăng tin hoặc gỡ tin đăng nếu (i) Rao Vặt Sinh Viên cho rằng các thông tin mà người bán cung cấp là không phù hợp/không đúng hoặc (ii) người bán vi phạm bất kỳ nội dung nào được nêu trong Quy chế này mà không phải chịu bất kỳ trách nhiệm nào. Việc thực thi quyền theo quy định ở đây không ảnh hưởng và cũng không xem là từ bỏ việc thực hiện quyền hoặc áp dụng các biện pháp khác theo chính sách chung của Rao Vặt Sinh Viên tùy từng thời điểm.</p>
                        
                    </article>


                            </p>
                           
                        </div>
                    </div>
                    <!-- Single Blog Item End -->

            
            </div>
            <!-- Blog Page Content End -->

           
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->

<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="/_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="/_assets/js/plugins.js"></script>

<!--=== Active Js ===-->
<script src="/_assets/js/active.js"></script>
</body>

</html>