<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form class="" action="/login1" method="post">
        <input type="text" name="username" value="" placeholder="nhap user name" autocomplete="off">
        <input type="password" name="password" value="" placeholder="nhap password" autocomplete="off">
        <input type="submit" name="" value="Login">
    </form>

   
    </body>
</html>