<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

   <title>Rao Vặt Sinh Viên</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="/_assets/img/favicon.ico" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i"/>

    <!--=== Bootstrap CSS ===-->
    <link href="/_assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="/_assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="/_assets/css/plugins.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/_assets/css/style.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="/_assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--uploadfile-->
    <link rel="stylesheet" type="text/css" href="/_assets/lib/bootstrap-fileupload/bootstrap-fileupload.css" />
   
     

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--== Header Area Start ==-->
<% include ./template/nav-header %>
<!--== Header Area End ==-->

<!--== Search Box Area Start ==-->
<div class="body-popup-modal-area">
    <span class="modal-close"><img src="/_assets/img/cancel.png" alt="Close" class="img-fluid"/></span>
    <div class="modal-container d-flex">
        <div class="search-box-area">
            <div class="search-box-form">
                <form action="#" method="post">
                    <input type="search" placeholder="type keyword and hit enter"/>
                    <button class="btn" type="button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--== Search Box Area End ==-->

<!--== Page Title Area Start ==-->
<div id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="page-title-content">
                    <h1>Đăng Tin</h1>
                    <ul class="breadcrumb">
                        <li><a href="">Home</a></li>
                        
                        <li><a href="#" class="active">Đăng Tin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
    <div class="container">
        <!--== Checkout Page Content Area ==-->
        <div class="row">
        <%if(typeof mes!=="undefined"){%>
            <div class="col-12">
                <!-- Checkout Login Coupon Accordion Start -->
                <div class="checkoutaccordion" id="checkOutAccordion">
                    <div class="card">
                        <h3>Returning Customer? <span data-toggle="collapse" data-target="#logInaccordion">Click Here To Login</span>
                        </h3>

                        <div id="logInaccordion" class="collapse" data-parent="#checkOutAccordion">
                            <div class="card-body">
                                <p>If you have shopped with us before, please enter your details in the boxes below. If
                                    you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                <div class="login-reg-form-wrap">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="single-input-item">
                                                    <input type="email" placeholder="Enter your Email" required/>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="single-input-item">
                                                    <input type="password" placeholder="Enter your Password" required/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="single-input-item">
                                            <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                                <div class="remember-meta">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="rememberMe">
                                                        <label class="custom-control-label" for="rememberMe">Remember
                                                            Me</label>
                                                    </div>
                                                </div>

                                                <a href="#" class="forget-pwd">Forget Password?</a>
                                            </div>
                                        </div>

                                        <div class="single-input-item">
                                            <button class="btn-login">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Checkout Login Coupon Accordion End -->
            </div>
        <%}%>    
        </div>

        <div class="row">
            <!-- Checkout Billing Details -->
            <div class="col-lg-6">
                <div class="checkout-billing-details-wrap">
                    <h2>Nội Dung Tin</h2>
                    <div class="billing-form-wrap">
                    <!--thông báo-->
                     <% if(typeof(mesno)!='undefined')
                            { %>
                            <br>
                            <div class="alert alert-warning">
                                <b>Oh!</b> <%=mesno%> <a href="/tindang">quay lại</a>
                            </div>
                     <%} %> 
                      <% if(typeof lst_DMCha_R!=='undefined'){%>
                        <form action="/tindang" method="POST" enctype="multipart/form-data" onsubmit="return checkBeforeSubmit()">
                            <div class="single-input-item">
                                <label for="country" class="required">Danh Mục Chính</label>
                                    <select name="dmcha" id="dmcha" onchange="funCha()" class="form-control"  required>
                                    <!--danh mục-->
                                    <option></option>
                                    <% if(typeof lst_DMCha_R!=='undefined'){
                                        for(i=0;i<lst_DMCha_R.length;i++){%>
                                        <option value="<%=lst_DMCha_R[i]._id%>"><%=lst_DMCha_R[i].tenDMCha%></option>         
                                        <%}}%>                     
                                    </select>
                             </div>
                    
                             <div class="single-input-item">
                                <label for="country" class="required">Danh Mục Con</label>
                                <select name="dmCon" id="dmCon" class="form-control"  required>
                                    <option></option>                               
                                </select>
                            </div>

                           
                            <div class="single-input-item">
                                <label for="country" class="required">Tỉnh Thành</label>
                                <select name="tinh" id="tinh" onchange="funHuyen()" class="form-control" required>
                                    <option value=""></option>                                   
                                </select>
                            </div>

                            <div class="single-input-item">
                                <label for="country" class="required">Quận / Huyện</label>
                                <select  name="huyen" id="huyen" onchange="funXa()"class="form-control" required>
                                    <option value="">-</option>                                   
                                </select>
                            </div>

                            <div class="single-input-item">
                                <label for="country" class="required">Phường / Xã</label>
                                <select name="xa" id="xa"class="form-control" required>
                                    <option value=""></option>                                   
                                </select>
                            </div>

                            <div class="single-input-item">
                                <label for="com-name">Số Nhà / Tên Đường</label>
                                <input type="text" name="soNha" id="soNha" placeholder="vd: 55/Đinh Bộ Lĩnh" required/>
                            </div>

                            <div class="single-input-item">
                                <label for="country" class="required">Loại Tin Đăng</label>
                                <select name="loaiTinDang" id="country" class="form-control" required>
                                    <option value="1">Tin Bán</option>     
                                    <option value="0">Tin Mua</option>                                                          
                                </select>
                            </div>

                            <div class="single-input-item">
                                <label for="com-name">Giá cả</label>
                                <input type="number" id="com-name"name="gia" placeholder="vd:500.000" min=10000 max=10000000000 required/>
                            </div>

                            <div class="single-input-item">
                                <label for="com-name">Tiêu Đề</label>
                                <input type="text" id="com-name" placeholder="Tiêu Đề" name="tieuDe" maxlength=60 required/>
                            </div>

                            <div class="single-input-item">
                                <label for="ordernote">Mô Tả Chi Tiết</label>
                                <textarea name="moTaChiTiet" id="ordernote" cols="30" rows="3"  required>
                                </textarea>
                            </div>

                           
                       
                    
                    
                    
                    
                      </div>
                </div>
            </div>

            <!-- Order Summary Details -->
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div class="order-summary-details">
                    <h2>&nbsp</h2>
                    <div class="order-summary-content">

                        <div class="single-input-item">
                            <label for="ordernote">Chọn Ảnh</label>
                            <%# <input type="file" name="file"  class="form-control-file border"> %>
                          
                        </div>
                        <!--test 1 ảnh-->
                       <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
                      </div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-theme02 btn-file">
                          <span class="fileupload-new"><i class="fa fa-paperclip"></i> chọn ảnh</span>
                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Thay đổi</span>
                        <input type="file" class="default" name="file" required/>
                        </span>
                        <a href="advanced_form_components.html#" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Xóa</a>
                      </div>
                    </div>
                        <!--end-->
                          <!--test 1 ảnh-->
                       <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
                      </div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-theme02 btn-file">
                          <span class="fileupload-new"><i class="fa fa-paperclip"></i> chọn ảnh</span>
                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Thay đổi</span>
                        <input type="file" class="default" name="file1" required/>
                        </span>
                        <a href="advanced_form_components.html#" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Xóa</a>
                      </div>
                    </div>
                        <!--end-->
                          <!--test 1 ảnh-->
                       <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
                      </div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-theme02 btn-file">
                          <span class="fileupload-new"><i class="fa fa-paperclip"></i> chọn ảnh</span>
                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Thay đổi</span>
                        <input type="file" class="default" name="file3" required/>
                        </span>
                        <a href="advanced_form_components.html#" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Xóa</a>
                      </div>
                    </div>
                        <!--end-->
                        

                        <!-- Order Payment Method -->
                        <div class="order-payment-method">
                            <div class="single-payment-method">
                            <div class="payment-method-name">
                              
                            </div>
                                
                            </div>
                            <div class="single-payment-method show">
                                <div class="payment-method-name">
                                   
                                </div>
                                <div class="payment-method-details" data-method="cash">
                                Nhập thời gian: <input type='date' id='yes' name='thoiHan'><br>
                                </div>
                            </div>

                             <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck" checked="checked" > Không thời hạn<br><br>
                            <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck"> Có Thời hạn <br>
                           <br>
                          <div id="ifYes" style="display:none">
                              Nhập thời gian: <input type='date' id='yes' name='thoiHan' class="form-control"><br>
                          </div>
                         
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">&nbspTôi đồng ý và tuân thủ với các <a href="/blog/noiquy">điều khoản dịch vụ</a></label> <br>
                          </div>
                          <div>&nbsp</div>
                          <button type="submit" class="btn-add-to-cart"> Đăng Tin</button>
                        </div>

                        </form>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
        <!--== Checkout Page Content End ==-->
    </div>
</div>
 
<!--== Page Content Wrapper End ==-->

<!-- Footer Area Start -->
<% include ./template/footer %>
<!-- Footer Area End -->

<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->


<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="/_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="/_assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/_assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Min Js ===-->
<script src="/_assets/js/plugins.js"></script>

<!--uploadfile-->
 <script type="text/javascript" src="/_assets/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>

<!--=== Active Js === <script src="/_assets/js/active.js"></script>-->
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });
</script>


</body>

</html>

<script>
 function funCha(){
  var x = document.getElementById("dmcha").value; 
  var link="getdmcons/"+x;
  //alert(link)
  $('#dmCon').load(link); 
 }
 
 //load
 $('#tinh').load('gettinhs'); 
//function quân huyện
 function funHuyen(){
  var x = document.getElementById("tinh").value;
  var link="getqhs/"+x;
  $('#huyen').load(link); 
 }
 function funXa(){
  var x = document.getElementById("huyen").value; 
  var link="getphuongxas/"+x;
  $('#xa').load(link); 
 }
//fun thời hạn
function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.display = 'block';
    }
    else document.getElementById('ifYes').style.display = 'none';
}
//chặn gửi nhiều lần
  var wasSubmitted = false;    
    function checkBeforeSubmit(){
      if(!wasSubmitted) {
        wasSubmitted = true;
        return wasSubmitted;
      }
      return false;
    }    

</script>

<style>
select#dmcha ,select#dmCon,select#tinh,select#huyen,select#xa,select#country,input#yes{
    height: 50px;
    font-size: 14px;
}
</style>