<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

     <form action="/upload" method="post" enctype="multipart/form-data">
        choose file: <input type="file" name="file" > <br>

        <input type="submit" value="upload">
     </form>

        <img src="/upload/3.png" />
    </body>
    
</html>

<script>
function functionConfirm() {
  confirm("nhấn ok để đồng ý!");
}
</script>