


<option ></option>
<%if(typeof obj!=='undefined'){
    for(i=0;i<obj.length;i++){    
%>
    <option value="<%=obj[i].fullname%>"><%=obj[i].name%></option>
<%}}%>
<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->



