


<option >chọn quận /Huyện</option>
<%if(typeof obj!=='undefined'){
    for(i=0;i<obj.length;i++){    
%>
    <option value="<%=obj[i].ID%>"><%=obj[i].Title%></option>
<%}}%>
<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->



