<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Footer Area Start -->
<footer id="footer-area">
    <!-- Footer Call to Action Start -->
    <div class="footer-callto-action">
        <div class="ruby-container">
            <div class="callto-action-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!-- Single Call-to Action Start -->
                        <div class="single-callto-action d-flex">
                            <figure class="callto-thumb">
                                <img src="/_assets/img/air-plane.png" alt="WorldWide Shipping"/>
                            </figure>
                            <div class="callto-info">
                                <h2>MUA SẮM MIỄN PHÍ CỰC NHANH  </h2>
                                <p>chúng tôi hỗ trợ mọi điều kiện để bạn thuận lợi tìm được đối tác</p>
                            </div>
                        </div>
                        <!-- Single Call-to Action End -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- Single Call-to Action Start -->
                        <div class="single-callto-action d-flex">
                            <figure class="callto-thumb">
                                <img src="/_assets/img/support.png" alt="Support"/>
                            </figure>
                            <div class="callto-info">
                                <h2>DỊCH VỤ HỖ TRỢ 24/7 </h2>
                                <p>Liên Hệ đường dây nóng 19001080 để được tư vấn miễn phí</p>
                            </div>
                        </div>
                        <!-- Single Call-to Action End -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- Single Call-to Action Start -->
                        <div class="single-callto-action d-flex">
                            <figure class="callto-thumb">
                                <img src="/_assets/img/money-back.png" alt="Money Back"/>
                            </figure>
                            <div class="callto-info">
                                <h2>TIN ĐĂNG ĐẢM BẢO!</h2>
                                <p>dựa trên sự thẩm định đánh giá của khách hàng để đảm bảo không bị lừa đảo</p>
                            </div>
                        </div>
                        <!-- Single Call-to Action End -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- Single Call-to Action Start -->
                        <div class="single-callto-action d-flex">
                            <figure class="callto-thumb">
                                <img src="/_assets/img/cog.png" alt="Guide"/>
                            </figure>
                            <div class="callto-info">
                                <h2>DỄ SỬ DỤNG</h2>
                                <p> thao tác đơn giản</p>
                            </div>
                        </div>
                        <!-- Single Call-to Action End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Call to Action End -->

    <!-- Footer Follow Up Area Start -->
    <div class="footer-followup-area">
        <div class="ruby-container">
            <div class="followup-wrapper">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="follow-content-wrap">
                            <a href="index.html" class="logo"><img src="/_assets/img/logo.png" alt="logo"/></a>
                            <p>Sự hài lòng của bạn là thành công của chúng tôi!</p>

                            <div class="footer-social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-flickr"></i></a>
                            </div>

                            <a href="#"><img src="/_assets/img/payment.png" alt="Payment Method"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Follow Up Area End -->

    <!-- Footer Image Gallery Area Start -->
    <div class="footer-image-gallery">
        <div class="ruby-container">
            <div class="image-gallery-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="imgage-gallery-carousel owl-carousel" id="slide">
                            <%if(typeof(slide)!=="undefined"){
                                for(i=0;i<slide.length;i++){
                                    if(slide[i].viTri=="duoi"){
                                %>
                               
                                    <div class="gallery-item">
                                        <a href="#"><img src="/upload/<%=slide[i].carouselIMG1%>" alt="Gallery"/></a>
                                    </div>                          
                           <%}}}%>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Image Gallery Area End -->

    <!-- Copyright Area Start -->
    <div class="copyright-area">
        <div class="ruby-container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><a target="_blank" href="http://cv-tuyen.herokuapp.com">© 2019 Tuyen Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright Area End -->
 <noscript>
  <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/jsoff">
</noscript>


</footer>
<!-- Footer Area End -->
<script src="/_assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="/_assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
 <script>
  //load
 </script>

