<header id="header-area" class="header__3">
    <div class="ruby-container">
        <div class="row">
            <!-- Logo Area Start -->
            <div class="col-3 col-lg-1 col-xl-2 m-auto">
                <a href="/" class="logo-area">
                    <img src="/_assets/img/logo-black.png" alt="Logo" class="img-fluid"/>
                </a>
            </div>
            <!-- Logo Area End -->

            <!-- Navigation Area Start -->
            <div class="col-3 col-lg-9 col-xl-8 m-auto">
                <div class="main-menu-wrap">
                    <nav id="mainmenu">
                        <ul>
                            <li class=""><a href="/gallery">Trang Chủ</a>
                                
                            </li>
                            <li class=""><a href="/tindang">Đăng Tin</a>
                                
                            </li>
                             <li class="dropdown-show"><a href="#">Blog</a>
                                <ul class="dropdown-nav">
                                    <li><a href="/blog/noiquy">Quy Định Chung</a></li>
                                    <li><a href="/blog/hangcam">Hàng Cấm Mua Bán</a></li>
                                    <li><a href="/blog/muabanantoan">Mẹo Mua Bán an Toàn</a></li>
                                    <li><a href="/blog/meomuaban">Mẹo Khác</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">Liên Hệ</a></li>
                            <%if(typeof sess=="undefined"){%>
                            <li class="dropdown-show"><a href="/register">Đăng Ký</a>
                              
                            </li>
                            <li class="dropdown-show"><a href="/login-register">Đăng Nhập</a>
                                
                            </li>
                          <%}else{%>
                            
                            <li class=""><a href="/signout">Đăng Xuất</a>
                             </li>
                          <%}%>
                           
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Navigation Area End -->

            <!-- Header Right Meta Start -->
            <div class="col-6 col-lg-2 m-auto">
                <div class="header-right-meta text-right">
                    <ul>
                        <li><a href="/search" ><i class="fa fa-search"></i></a></li>
                        <li class="settings"><a href="/info"><i class="fa fa-cog"></i></a>
                            
                        </li>
                        <li class="shop-cart"><a href="#"><i class="fa fa-bell"></i> <span
                                class="count">1</span></a>
                            <div class="mini-cart">
                                <div class="mini-cart-body">
                                    <div class="single-cart-item d-flex">
                                        <figure class="product-thumb">
                                            <a href="#"><img class="img-fluid" src="/_assets/img/product-1.jpg"
                                                             alt="Products"/></a>
                                        </figure>

                                        <div class="product-details">
                                            <h2><a href="#">hi,chào mừng đến với trang web-rao vặt sinh viên</a></h2>
                                            <div class="cal d-flex align-items-center">
                                               
                                            </div>
                                        </div>
                                        
                                        <%if(typeof(ThongBao)!=="undefined"){%>
                                            <%=ThongBao[0].noiDung%>

                                             <div class="product-details">
                                            <h2><a href="#">hi,chào mừng đến với trang web-rao vặt sinh viên</a></h2>
                                            <div class="cal d-flex align-items-center">
                                               
                                            </div>
                                        </div>
                                        <%}%>
                                    </div>
                                    
                                </div>
                                <div class="mini-cart-footer">
                                    <a href="" class="btn-add-to-cart">ok</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Header Right Meta End -->
        </div>
    </div>
</header>