 <%if(typeof(slide)!=="undefined"){
                                for(i=0;i<slide.length;i++){
                                    if(slide[i].viTri=="duoi"){
                                %>
                               
                                    <div class="gallery-item">
                                        <a href="#"><img src="/upload/<%=slide[i].carouselIMG1%>" alt="Gallery"/></a>
                                    </div>                          
                           <%}}}%>